[2016-02-28 18:02] Johandrex commented on #801
It has been two months now... When will this be fixed?

[2016-02-28 18:27] Ksnz commented on #906
I know but i want to use PSApi for my minigame plugin .
I found out that BO3 probably save tags but load `NOT IMPLEMENTED YET!`

[2016-02-28 18:41] Ksnz commented on #907
@MattBDev http://hastebin.com/bajoqilawu

Also I'm going to use API for pasting and it would be great to have method for pasting without offset on y axis here
https://github.com/IntellectualSites/PlotSquared/blob/master/Core/src/main/java/com/intellectualcrafters/plot/util/SchematicHandler.java#L109

[2016-02-28 20:01] MattBDev commented on #801
@Johandrex It is hard to fix a bug that the developers can't reproduce. @boy0001 may have a 3.3.0 build that we can use to see if this bug is fixed.

[2016-02-28 20:03] Erictigerawr opened #908 "Armor Stands and Clearing Plots"
**Debug paste link**:
http://hastebin.com/imumelitov
**Description of the problem:**
Testing with staff if Armor Stands were limited per plots. Anyways, after placing a good 100/150 armor stands we did /plot clear and it seems not all the armor stands were cleared. I had to clear it a few more times -> then relogged and they reappeared. Most would turn invisible but would still be there/fixed by r

[2016-02-29 02:06] zombachu opened #910 "/p h:# <name> does not work"
**Debug paste link**: http://hastebin.com/ibixevuvod

**Description of the problem:** Returns "That's not a valid number within the range: (1, ∞)" instead of teleporting to name's # plot. I'm 99% sure that this is caused by [lines 377 to 389](https://github.com/IntellectualSites/PlotSquared/blob/master/Core/src/main/java/com/intellectualcrafters/plot/commands/MainCommand.java#L377-L389) never bein

[2016-02-29 03:25] boy0001 commented on #801
https://github.com/IntellectualSites/PlotSquared/blob/master/target/PlotSquared-Bukkit.jar

[2016-02-29 03:29] boy0001 commented on #906
BO3 isn't what you want anyway. It's slow and used for exporting small objects on the plot (e.g. a tree) for world population rather than the whole plot itself: https://github.com/MCTCP/TerrainControl/wiki/BO3-objects

[2016-02-29 04:13] #910 closed

[2016-02-29 04:21] boy0001 commented on #910
Note: The correct syntax is `/plot visit [player] [#]`. The home command is an alias, and the colon is to accommodate those used to the PlotMe syntax.

[2016-02-29 11:37] DoraKlikOpDora opened #911 "[Suggestion] Citizens-Addon"
Hi,

I have a suggestion to add Citizens 2 to plots, so players can add their own NPC's to their own plots.
Without an extra addon it is possible for players to place NPC's on other plots.

Regards,

[2016-02-29 17:56] ElmHoe opened #912 "Plot Visit for multiple owners."
# Bug report template (clear for feature request)
**Debug paste link**:
http://hastebin.com/mulepibema
**Description of the problem:**
The problem remains when multiple owners share a plot, ie in this circumstance where HyperSkill & Ling555 share a plot. When Ling wants to go to her plot shared with him, /p h and /p v Ling555, don't work. Instead she's forced to /p v HyperSkill.
Plot Visit continu

[2016-02-29 18:02] MattBDev opened #913 "Plot Delete runs twice"
The video here explains what happens:
https://www.youtube.com/watch?v=1HMaBhvC2k0

[2016-02-29 22:47] GoldyHD opened #914 "Not a vaild Plot world"
So im trying to make the road schematic work and i keep typing into my console "/p regenallroads Plots" Thats the name of the world that i created and yes i created it with a capital. But for some reason it says that is not a vaild plot world (case sensitive)

Please can somebody help

[2016-02-29 23:55] MattBDev commented on #914
Please reply with a '/plot debugpaste' within 24 hours or this issue will be closed. Please follow the issue template next time instead of deleting it.

[2016-03-01 02:25] MattBDev commented on #801
@SliderKP @Johandrex @gameplayerhd @MonkvanNederland @xion87 Is this issue fixed with the jar above?

[2016-03-01 03:31] boy0001 opened #915 "Natural mob spawning vs spawners"
Add a config option to differentiate between normal mob spawning and mobs from spawners.

[2016-03-01 04:37] MattBDev commented on #913
Fixed according to @boy0001

[2016-03-01 04:37] #913 closed

[2016-03-01 07:34] GoldyHD commented on #914
I dont undertsand what to do with the template. Im sorry about this im new to minecraft server making

[2016-03-01 08:01] EvilOlaf commented on #914
This is not related to minecraft server making, this is just about having a proper format for all issue reports to make it easier for developers to fix/answer them.
So when you create a new issue report enter all information ask in the form, especially the output of `/plot debugpaste`.

No one here has a second sight to guess what CB/Spigot/Paper you are running, what version of P^2 you are runnin

[2016-03-01 15:01] rErEaT commented on #905
should I regenerate the plotworld? cause still bugging

[2016-03-01 15:05] augesrob opened #916 "1.9 console error"
# Bug report template (clear for feature request)
**Debug paste link**:

[08:51:45 INFO]: Checking for updates via Spigot...
[08:51:45 INFO]: Starting UUID caching
[08:51:45 INFO]: [P2] Starting player data caching for: world
[08:51:45 INFO]: Fast mode UUID caching enabled!
[08:51:45 INFO]: [CratesPlus] No update was found, you are running the latest version. Will check again later.
[08:51:45 INFO

[2016-03-01 16:52] MGD9000 opened #917 "1.9 Problem"
After deleting a plot It can't be reclaimed. Also can a plot be set to permanent? For a plot spawn?

[2016-03-01 17:54] MattBDev commented on #917
If a '/plot debugpaste' is not produced within 24 hours, this issue will be closed.

[2016-03-01 18:11] manuelgu commented on #754
This also affects Ghasts.

[2016-03-01 18:12] MattBDev commented on #754
Is a bukkit limitation that metadata does not affect these mobs?

[2016-03-01 18:26] MGD9000 commented on #917
I'll just wait for an update. Please close this and thank you for such a great plugin and hard work. I have total respect for you guys!

[2016-03-01 18:43] #917 closed

[2016-03-01 19:51] dwelfman opened #918 ""That is not a valid plot area" Error when issuing <plots regenallroads> command..."
# Bug report template (clear for feature request)
**Debug paste link**:

**Description of the problem:**
I am running into the same issue as #914 opened by GoldyHD, which appears to be closed due to insufficient information.  I will try to provide the information requested in the template.  Upon issuing the <p regenallroads ...> command I get the error message "[Server] INFO [P2] That is not a val

[2016-03-01 21:05] MattBDev commented on #918
@dwelfman I'd love to help and I appreciate you providing as much information as you did but we need the link that is shown to you in chat when you perform the command `/plot debugpaste`. Please provide the link ASAP or we will have to close the issue.

[2016-03-01 21:11] manuelgu commented on #754
Don't currently have time to have a look much into detail but maybe it is missing in the switch-case or something https://github.com/IntellectualSites/PlotSquared/blob/4669f316581a0aeec32d3da8e451a1ec3fc8533c/Bukkit/src/main/java/com/plotsquared/bukkit/BukkitMain.java#L166

[2016-03-01 21:58] rErEaT opened #919 "Plot does not exist in database"
[22:55:13] [Craft Scheduler Thread - 3/WARN]: java.sql.SQLException: Plot does not exist in database
[22:55:13] [Craft Scheduler Thread - 3/WARN]: 	at com.intellectualcrafters.plot.database.SQLManager.getId(SQLManager.java:1415)
[22:55:13] [Craft Scheduler Thread - 3/WARN]: 	at com.intellectualcrafters.plot.database.SQLManager$15.set(SQLManager.java:1204)
[22:55:13] [Craft Scheduler Thread - 3/WAR

[2016-03-01 22:39] MattBDev commented on #919
@rErEaT if you do not follow the issue template, your future issues will be closed. Please provide a `/plot debugpaste`

[2016-03-01 22:43] rErEaT commented on #919
http://hastebin.com/vinetatiju

[2016-03-02 01:16] Pangamma commented on #897
But I already have a github account... And so do most developers.

[2016-03-02 06:42] #906 closed

[2016-03-02 06:44] #902 closed

[2016-03-02 06:44] boy0001 commented on #907
Added

[2016-03-02 06:44] #907 closed

[2016-03-02 06:44] boy0001 commented on #912
Possibly fixed, needs testing

[2016-03-02 06:45] boy0001 commented on #914
f00ac79c91bb8daaabaa4f07aefeb16d6ced8981

[2016-03-02 06:45] #914 closed

[2016-03-02 06:45] boy0001 commented on #918
f00ac79c91bb8daaabaa4f07aefeb16d6ced8981

[2016-03-02 06:45] #918 closed

[2016-03-02 06:45] boy0001 commented on #895
Added

[2016-03-02 06:45] #895 closed

[2016-03-02 06:46] boy0001 commented on #876
Please make sure you are using a stable version of PlotSquared/Spigot.

[2016-03-02 06:46] #876 closed

[2016-03-02 06:47] boy0001 commented on #873
Please provide a `/plot debugpaste`

[2016-03-02 18:15] Johandrex commented on #801
Tested a bit but for some reason players could use tnt to explode other players plots, except their own.

[2016-03-02 18:38] MattBDev commented on #801
@Johandrex Unrelated to the issue we are trying to fix at the moment. The issue we want to fix in this ticket is the merging. We need a confirmation on this issue first before we move on to that.

[2016-03-02 23:36] chamunks commented on #895
On 2016/3/2, at 3:33 PM, Jesse | Empire92 | PlotSquared dev wrote:

[2016-03-02 23:54] chamunks opened #921 "Documentation: Manual automagical plot clearing."
At some point we need to document [this new feature.](https://github.com/IntellectualSites/PlotSquared/issues/895#event-574222696)

[2016-03-03 00:44] PhanaticD opened #922 "Economy is not working"
Economy is not working. I get "economy is not enabled" and plot claim does not take money from balance

possibly related to https://github.com/IntellectualSites/PlotSquared/issues/65

Vault 1.5.6
plotsquared 3.2.26 off spigot forums
EssentialsX build 288
CraftBukkit version git-PaperSpigot-440 (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

settings: http://hastebin.com/xuxagacibi

not

[2016-03-03 01:06] PhanaticD commented on #922
If I change Vault to be a hard depend in plugin.yml for plotsquared I get this error on startup

[code]

[2016-03-03 01:07] PhanaticD commented on #922
If I add
[code]
to Vaults's plugin.yml the server starts up normally and economy works.

Obviously this is not an idea solution

[2016-03-03 16:06] DannyPokemon opened #923 "How can i allow people to ride minecarts in all plots but stop griefing?"
Is there a way i can allow people  to ride mine carts but without allowing them to build? that would make it easier to build minecart tracks on the roads.

[2016-03-03 16:35] manuelgu commented on #923
You can set the [vehicle-use](https://github.com/IntellectualSites/PlotSquared/wiki/Flag:-vehicle-use) Flag as a default one in the `settings.yml`

[code]

[2016-03-03 16:37] DannyPokemon commented on #923
Thanks, proves i should read the wiki more often.

[2016-03-03 16:37] #923 closed

[2016-03-03 18:03] boy0001 commented on #922
[code]
Is supposed to load vault beforehand. Same behavior as `depend` except it doesn't stop the plugin from starting if it isn't present. I'm inclined to say this is a spigot bug since I see no reason why it would only work in the Vault plugin.yml

[2016-03-03 18:06] boy0001 commented on #922
Artificially delaying the economy hook should be a workaround.

[2016-03-03 18:06] #922 closed

[2016-03-03 18:46] GiansCode opened #924 "PlotSquared API Method Replacement"
Hello,

So, I've developed a PlotMine plugin that runs solely off the API you have provided with your plugin. However, since the recent update, there appears to be no .getWorld().worldname method anymore. I was wondering what the replacement was? I have left a snippet of the code below.

public PlotIdentity(Plot plot) {
		this(Bukkit.getWorld(plot.getWorld().worldname), plot.getId());
	}

Another

[2016-03-03 18:57] boy0001 commented on #924
After the introduction of multiple areas per world, the method was renamed. Otherwise it would have been confusing having multiple plot worlds per world.
`getArea().worldname`

[2016-03-03 18:57] #924 closed

[2016-03-03 19:13] boy0001 commented on #921
[code]

[2016-03-03 20:24] JonCup opened #925 "/plot unmerge is destructive"
One of my users asked for help, they accidently claimed too many plots. I stood in the plot he didn't want and did /plot unmerge. All three of the connected plots unmerged and suddenly there were roads going through his buildings. There are few things that could have helped alot in this scenario.

/plot undo or /plot undomerge or something would have saved the day

a warning that /plot unmerge may

[2016-03-04 00:41] xion87 commented on #801
not sure, if is fixed because it need a live player server for see if it bugs, and is hard to test by myself

[2016-03-04 00:47] xion87 opened #926 "Border of plots are not correct"
I just got this issue by updating plotsquared to 3.3.1
in config i got plot border:
      filling: '1:0'
      block_claimed: '171:14'
      height: 64
      block: '171:5'

and empy plots look all like this
http://i.imgur.com/EMahgBq.png

Instead if i claim it, it will stay with red carpet, but when i do /plot delet it will become green bordered... no errors

[2016-03-04 01:12] popcorn9499 opened #927 "Plotsquared crash with fastasyncworldedit"
There is no debug info cuz the server crashed

The problem is that when i load my server with fastasyncworldedit and plotsquared i get a crash and the error log shows me this

fastayncworldedit crash log
[code]

plot squared
[code]

im running spigot version: version 1.9-R0.1-Snapshot
plotsquared version: 3.3.1
fastasyncworldedit version: 3.3.0

[2016-03-04 02:31] boy0001 commented on #927
I had the wrong file on spigot :/
Try this: https://www.spigotmc.org/resources/free-fast-async-worldedit-%CE%B2.13932/download?version=72711

[2016-03-04 02:31] #927 closed

[2016-03-04 02:50] boy0001 commented on #926
The road schematic will override the standard plot generation.

[2016-03-04 02:50] #926 closed

[2016-03-04 02:51] popcorn9499 commented on #927
thx

[2016-03-04 02:54] boy0001 commented on #925
There is confirmation, you just bypass it as an admin.

[2016-03-04 03:12] runescapejon opened #928 "Frost Walker II enchantment bug"
# Bug report template (clear for feature request)
**Debug paste link**:
http://hastebin.com/xiresanota
**Description of the problem:**
When a player have Frost Walker II enchantment it bypassing the plot with water
**How to replicate**:
just have a plot with water and have a player with frost Walker II with boots and walk on it
Make sure you've completed the following steps (put X inside of bracke

[2016-03-04 08:18] xion87 commented on #926
is the schematic road that you gived to me (fixed on)

[2016-03-04 14:15] cindyker opened #929 "Economy Support for More Commands"
Enhancement Request:
My current setup for PlotMe, I make my players pay with ingame money for Adding people to their plots and for clearing.
I don't see any support for this PlotSquared.
Can it be added?

[2016-03-04 14:42] xion87 opened #930 "Plot chat is broken with 3.3.1"
I just upgraded plotsquared to 3.3.1 and seem plot chat don't work anymore it do nothing... i am using 1.8.8.

[2016-03-04 16:59] MattBDev commented on #930
Do you have any other chat modifying plugins?

[2016-03-04 17:01] MattBDev commented on #928
I'll check out NMS in craftbukkit to see if frostwalker triggers any event that we can listen to. If it doesn't then there may not be anything we can do until an event is added.

[2016-03-04 17:02] xion87 commented on #930
chatcontrol pro, and was all working before the plotsquared upgrade from 3.2.26 to  3.3.1

[2016-03-04 17:23] EvilOlaf commented on #930
CHC pro using kind a chatroom thing which cancels the normal chatevent. Might be interesting.

[2016-03-04 17:46] xion87 commented on #930
I dont think is  a chc pro issue that was working fine in the old version, is a plotsquared change that break it...

[2016-03-04 17:51] EvilOlaf commented on #930
I did not say that this is CHCs fault. Just wanted to mention this behavior ;)

[2016-03-04 19:01] Andre601 opened #931 "/p h:[Alias] not work in other worlds"
**Debug paste link**:http://hastebin.com/agesalohap

**Description of the problem**:
If I use /p h:[Alias] (For example: /p h:Plot1 in a world without the plot with that alias, I wont be teleportet and recieve this message:
"[P2] Found no plots with your Search Query
 [P2] Thats not a valid Plot id"

if I use it in the World, that have this plot with the alias, everything works fine...

**How to r

[2016-03-04 19:40] MonkvanNederland commented on #801
Tested for 2 days now, the bug is still there, problem is not solved.

Plots keep being unclaimed and unlinked after a few hours.

[2016-03-04 20:25] xion87 commented on #801
maybe it have to do with unloaded chunks?

[2016-03-04 21:21] MattBDev commented on #929
I will certainly add that.

[2016-03-04 21:40] #915 closed

[2016-03-04 21:50] MattBDev commented on #850
Fixed.

[2016-03-04 21:50] #850 closed

[2016-03-05 02:40] boy0001 commented on #898
Bump?

[2016-03-05 02:42] boy0001 commented on #929
Well if city is doing the commannd api (#898), it could have some mechanisms to simplify that. Maybe just some callback to confirm final execution of the command.

[2016-03-05 12:51] Sauilitired commented on #898
@boy0001 Sorry things got pretty messy due to the hackers (pfft, evil people) :///// I'll make sure to implement it as soon as I fix everything that got broken on minecade

[2016-03-05 15:16] manuelgu opened #932 "Clear does not clear the plot properly"
# Bug report template
**Debug paste link**: http://hastebin.com/oqekedonil.vala

**Description of the problem:**
`/plot clear` does not properly clear the plot and creates patches of other blocks
https://youtu.be/QoplSxA0m6Q

**How to replicate**:
`/plot clear` on a random plot
Make sure you've completed the following steps (put X inside of brackets):
- [x] Include `/plot debugpaste`
- [x] Made su

[2016-03-05 15:19] cindyker commented on #932
I am also having this issue with Spigot 1.9 , PlotSquared 1.3.3
Reset causes the same problem as clear.
http://puu.sh/nvGly/a6dbc2daf0.jpg

It took me restarting the server and clearing again to fix the plot.

[2016-03-05 22:25] Johandrex commented on #930
Same issue here.

[2016-03-05 22:26] Johandrex commented on #930
And ChatControl isn't modifying the chat.

[2016-03-05 22:35] xion87 commented on #930
i just reverted to old version of plotsquared and working fine and great

[2016-03-05 23:31] SpaceWeedMC opened #933 "/p clear is creating terrain"
# Bug report template (clear for feature request)
http://hastebin.com/etomudomeh:

/p clear for the bridge template:

Claim a plot and do /p clear:

Make sure you've completed the following steps (put X inside of brackets):
- [X] Include `/plot debugpaste`
- [ ] Made sure there aren't duplicates of this report [(Use Search)](https://github.com/IntellectualSites/PlotSquared/issues)
- [X] Made sure

[2016-03-05 23:36] SpaceWeedMC commented on #933
Picture!

http://prntscr.com/abpftj

[2016-03-06 00:26] rErEaT commented on #931
sure!

[2016-03-06 00:29] rErEaT opened #934 "plot unclaim"
# Bug report template (clear for feature request)
**Debug paste link**:
http://hastebin.com/izezumarus

**Description of the problem:**
/plot unclaim is not working in the newest version!

**How to replicate**:

Make sure you've completed the following steps (put X inside of brackets):
- [x] Include `/plot debugpaste`
- [X] Made sure there aren't duplicates of this report [(Use Search)](https://gi

[2016-03-06 00:40] rErEaT commented on #934
Oh removed unclaim command.

So how I can unclaim the plots?

[2016-03-06 02:11] rErEaT opened #935 "Console say error"
# Bug report template (clear for feature request)
**Debug paste link**:
http://hastebin.com/izezumarus

**Description of the problem:**
I found a problems in console:
http://pastebin.com/pYw8LTAy

**How to replicate**:

Make sure you've completed the following steps (put X inside of brackets):
- [x] Include `/plot debugpaste`
- [x] Made sure there aren't duplicates of this report [(Use Search)](ht

[2016-03-06 07:31] manuelgu commented on #933
Might be related to or is a duplicate of #932

[2016-03-06 08:04] boy0001 commented on #933
Try: https://github.com/IntellectualSites/PlotSquared/wiki/Manual-generator-setting

[2016-03-06 08:05] boy0001 commented on #932
Seems to only be an issue with 1.9, are you running the latest version of spigot?

[2016-03-06 08:28] manuelgu commented on #932
yes, running 1.9 with 3.3.0 from the Spigot Page.

[2016-03-06 12:41] boy0001 commented on #932
Does reconnecting fix the issue?

[2016-03-06 12:45] rErEaT commented on #932
I got this issue on 1.8.8

generate air...

[2016-03-06 13:32] manuelgu commented on #932
When I clear any plot, it does not clear the plot (for the client) but when you re-enter the chunks (teleport to spawn, then go back) it appears to be cleared.

[2016-03-06 13:35] rErEaT commented on #932
@manuelgu Not working for me :(

[2016-03-06 15:16] manuelgu commented on #932
Looks like it is not 100% reproducable. If you rightclick a block, it appears to be the correct one again.

[2016-03-06 20:10] rErEaT opened #936 "Translate error"
# Bug report template (clear for feature request)
**Debug paste link**:
http://hastebin.com/izezumarus

**Description of the problem:**
I dont know but not working my translate!
http://pastebin.com/XjHgtjkG

**How to replicate**:

Make sure you've completed the following steps (put X inside of brackets):
- [x] Include `/plot debugpaste`
- [x] Made sure there aren't duplicates of this report [(Use

[2016-03-06 22:09] maxlehot1234 opened #937 "Unclaim command problem. Hole in the player plot"
# Bug report template (clear for feature request)
**Debug paste link**:
http://hastebin.com/yejutepobu
**Description of the problem:**
A player unclaim his plot and have this in the middle of it:
http://imgur.com/RyVh0YP

I don't know how this happen, because unclaim command doesn't exist on latest version...

I use Spigot 1.8.8 with Java 8

Make sure you've completed the following steps (put X in

[2016-03-06 23:00] zombachu opened #938 "Explosion prevention is broken"
**Debug paste link**: http://hastebin.com/zuqabibuca

**Description of the problem:** TNT explosions in claimed plots are allowed, no matter what the flag is set to. If the TNT is in an unclaimed plot or in a road, then explosions are cancelled as usual.

[Picture 1](http://puu.sh/nxlZH/54d808f236.png) The explosion flag is not set in the plot in the picture, yet damage is still done. Explosions a

[2016-03-06 23:04] zombachu commented on #938
Just tried with beds and the hell biome, and while no damage is done I get some NPEs in console: http://hastebin.com/voxixepana

[2016-03-06 23:18] maxlehot1234 opened #939 "Problem with the claim command and border"
# Bug report template (clear for feature request)
**Debug paste link**:
http://hastebin.com/yejutepobu
**Description of the problem:**
When I claim a plot, (when they are large (200x200)) in my case, I get this:
http://imgur.com/6XRYbda
Redstone_block should replace stone_slab, but it was not put succesfully :(

When I dispose the plot, I get this: http://imgur.com/F0FCPSd
Redstone_block stay as b

[2016-03-07 01:38] cindyker commented on #932
I am not getting any blocks in the middle of my plots. I can place blocks in the holes, leave the server and come back, still giant hole.
Only a restart after this issue, fixes it. Its as if the generator is confused as to what to place.

 If you are just getting invisible blocks, spigot did make an update for players not seeing chunk updates. I have that fix on my server and it has a fixed a worl

[2016-03-07 06:35] #932 closed

[2016-03-07 06:35] #935 closed

[2016-03-07 07:09] boy0001 commented on #938
Update the plugin.

[2016-03-07 07:09] #938 closed

[2016-03-07 07:20] boy0001 commented on #936
Not a bug, you just messed up the configuration:
http://hastebin.com/ajuvitugol.bash

[2016-03-07 07:20] #936 closed

[2016-03-07 07:23] zombachu commented on #938
I'm currently using the latest available version from the spigot page and I'm still having the issue. /p version [tells](http://imgur.com/g6rSnw7) me I'm using the latest version, in addition to the message on startup. For some reason on the site it says that the latest version is 3.3.1, but the jar that it gives me says it's 3.3.0.

[2016-03-07 07:45] boy0001 commented on #938
Try:
https://www.spigotmc.org/resources/plotsquared.1177/download?version=73678

[2016-03-07 07:50] zombachu commented on #938
Now I'm having the opposite issue: Claimed plots work fine (whether I didn't set the flag or if I set explosions to false), but unclaimed plots and roads now explode

[2016-03-07 10:30] rErEaT commented on #936
whats wrong, then, can you fix my translate?

[2016-03-07 11:31] manuelgu commented on #932
https://hub.spigotmc.org/stash/projects/SPIGOT/repos/craftbukkit/commits/0cd671108591fd6f16696379280b235fdbb7dca8 This might also be related to the issue

[2016-03-07 14:07] boy0001 commented on #934
`/plot delete`
`/plot setowner none`
`/plot purge`

[2016-03-07 14:07] #934 closed

[2016-03-07 14:07] boy0001 commented on #933
Will reopen if the above does not solve your issue.

[2016-03-07 14:07] #933 closed

[2016-03-07 14:08] boy0001 commented on #931
How many plot worlds do you have?

[2016-03-07 16:16] MattBDev commented on #937
upgrade to 3.3.1 because this bug has been fixed. the command is /plot delete

[2016-03-07 16:16] #937 closed

[2016-03-07 16:21] MattBDev commented on #898
If you can add this in the next 5 days, it will be extremely helpful so I can add #929

[2016-03-07 16:22] MattBDev commented on #928
This bug extends into CraftBukkit/Spigot level.

[2016-03-07 16:35] MattBDev opened #940 "Document code"
Fix all Javadoc errors and warnings. Document the project
[] Fix all currently existing JavaDocs
[] Add missing javadocs

[2016-03-07 18:44] Andre601 commented on #931
3 Plotworlds.
Before I updatet plotSquared to te newest version the /p h:[Alias] worked.

is use Spigot 1.8.8 for my server

[2016-03-07 20:08] Maxetto commented on #925
Yet, I think a command like "/plot unmerge one" should be implemented to unmerge only the plot where you're standing.

[2016-03-07 20:26] MattBDev commented on #931
@boy0001 I think it broke when you tweaked the visit command in commit ff0ac79

[2016-03-07 22:05] Maxetto commented on #930
Same issue, using only EssentialsChat

[2016-03-08 01:35] astr1al opened #941 "Error with 1.9 on Jenkins Build #5"
http://pastebin.com/RF3jAGCt

**Just a startup error.**
Running WorldGuard v6.1.2-SNAPSHOT;1652-c9b8e9f
Server is running CraftBukkit version git-Spigot-bc01c3a-0cd6711 (MC: 1.9) (Implementing API version 1.9-R0.1-SNAPSHOT)

[2016-03-08 01:53] MattBDev commented on #941
1. Please do not delete the Issue Template. It said not to yet you did it anyways.
2. Spigot 1.9 is very unstable at the moment. You need to make sure you are running BuildTools everyday, twice a day.
3. This issue seems to be caused by WorldEdit.
4. Don't use Jenkins builds until @Sauilitired fixes our CI and tells us where the proper builds are.

[2016-03-08 01:53] #941 closed

[2016-03-08 01:54] MattBDev commented on #939
@maxlehot1234 Try updating and letting us know if it is fixed in 3.3.1

[2016-03-08 11:50] SliderKP commented on #877
DebugPaste: http://hastebin.com/wujecofamo

[2016-03-08 16:56] batchkrazy opened #942 "How to enable Killing of mobs in unclaimed areas"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
http://hastebin.com/xesihoyibi
**Description of the problem:**
how to enable killing of mobs in unclaimed area's
tryn to run as survival but not being able to kill hostiles in unclaimed areas
**How to replicate**:
try to kill mobs in an unclaimed area
Make sure you've completed the following

[2016-03-08 23:16] Maxetto opened #943 "/plot auto IndexOutOfBounds"
After updating to [THIS](https://github.com/IntellectualSites/PlotSquared/commit/b59665b00b9b84f825bc9eecfeadf484719188f7) commit, ~~road regen doesn't count any custom roads made with "/p createroadschematic".~~

Also, whenever someone does /p auto it gives [THIS](http://pastebin.com/A6uGs4j1) error.

Hope for a prompt fix... Thanks.

~~EDIT: Seems to search for road schematics in "<root>/plugins

[2016-03-09 11:57] AuthMe opened #944 "[Craft Scheduler Thread - 21/WARN]: Exception in thread "Craft Scheduler Thread - 21""
**Debug paste link:**
http://hastebin.com/itusewevin

**Description of the problem:**
This problem only happend after a player going in a plot, and any other things are normal.
[code]

**How to replicate**:
When a player going in a plot.

**Other:**
Server Version: KCauldron 1.7.10
PlotSquared Version: 3.3.1
Java Version: 8u74.
The old version of PlotSquared is no this problem.
So what should I do

[2016-03-09 15:21] MattBDev commented on #944
We can't help since there is no `/plot debugpaste` to show us any other details you may have left out. That error doesn't give us much to work on. In fact, it gives us nothing to work off of.

[2016-03-09 18:40] boy0001 commented on #942
`plots.admin.pve.unowned`
`plots.admin.pve.road`

[2016-03-09 18:40] #942 closed

[2016-03-09 23:37] MattBDev commented on #928
@runescapejon Closing this issue. Please take up the issue with Spigot development since they feel this is a "minor" issue.

[2016-03-09 23:37] #928 closed

[2016-03-09 23:48] MattBDev commented on #930
I think this relates to persistent metadata since the code for the chat listener has not changed.

[2016-03-10 02:22] AuthMe commented on #944
@MattBDev I uploaded the Debug Paste. Please take a look at it, I really can not find what is wrong ......(So I guess the question is KCauldron's, or ......)

[2016-03-10 03:12] MattBDev commented on #944
@AuthMe Redownload the plugin from spigot's website and grab a new version of KCauldron. If the issue persists then let us know.

[2016-03-10 04:59] AuthMe commented on #944
@MattBDev I use lasted KCauldron, and I try to use Thermos, but...
`http://hastebin.com/zoforetoke`
Always had this.

[2016-03-10 09:15] sourcepowered commented on #944
I got this problem, too.
And I use KCauldron 200, I think this is a bug of server.

[2016-03-10 18:52] MattBDev commented on #944
You guys may want to contact the developers of KCauldron and ask for feedback. Also ask them why the hell they aren't updated to 1.8 yet, lol.

[2016-03-10 23:27] Maxetto commented on #943
Still [not fixed](http://pastebin.com/PPbpbzUX). It happens when I use /p auto on my second Plot World (as I have a 32x Plot World and a 64x Plot World).
This also breaks /p clear and /p delete (and world generation (?)).

Also, "/p list" returns: "Possible values: [Ljava.lang.String;@7301fab"

Also, "/p rate next" sometimes sticks to a Plot, even if you already voted it.

[2016-03-11 02:58] AuthMe commented on #944
@MattBDev Do not upgrade to 1.8, because the 1.7.10 has a lot of Mods. So what should we do, Abandon Mod server?...:(

[2016-03-11 03:35] MattBDev commented on #944
@AuthMe I'm not telling you to upgrade. I'm just saying that there are plenty of 1.8 mods.

[2016-03-11 03:47] MattBDev commented on #943
We don't have a working build server at the moment. We haven't for awhile due to many issues. Anyways, did you build the jar with my commit? If you did, do you have a custom caption for OWNER_SIGN_LINE_* ?
Please file another issue report for the other things you mentioned.

[2016-03-11 04:31] boy0001 commented on #944
Since there's no API for sending titles for that version PlotSquared has to use NMS. That's just the error from that and can be ignored.

[2016-03-11 04:34] #943 closed

[2016-03-11 04:34] #944 closed

[2016-03-11 04:36] boy0001 commented on #931
@MattBDev
Not related to that. MainUtil#getPlotByString(...) was changed at some point to require you to either be in the world, or there to be only one plotworld. Aliases are a per world thing. Should be fixed in 66da71bc9ff18b016c908319fec98a0e520c9fc1

[2016-03-11 04:36] #931 closed

[2016-03-11 04:38] #912 closed

[2016-03-11 04:39] boy0001 commented on #901
Should be fixed in 3.3.1

[2016-03-11 04:39] #901 closed

[2016-03-11 07:31] Maxetto commented on #943
Yes, I have those from Italian Language:
[code]

[2016-03-11 15:05] Rasre opened #945 "Food can bypass protection"
# Food can bypass protection

**Description of the problem:**
With food (e.g. bread) you can bypass the protection on other plots. By right click with sneaking you can open chests, furnaces or workbenchs.

You can use isSneaking() with if() to prevent it.

[2016-03-11 16:56] MattBDev commented on #945
Please provide a `/plot debugpaste`
I will check this out though.

[2016-03-11 17:01] Rasre commented on #945
Here is the link: http://hastebin.com/ecogiwihec

[2016-03-11 19:55] RenoLite opened #946 "One of my merged plots continue to be over-claimed by some random person."
# One of my merged plots continue to be over-claimed by some random person..)

**Description of the problem:** So I have a merged plot in the shape of an "L" and every now and then, someone manages to claim one of the plots that was previously mine.

**How to replicate**: Unknown.

[2016-03-11 19:56] #946 closed

[2016-03-11 20:32] MattBDev commented on #945
I wasn't able to reproduce this. Can you test to make sure that it isn't another plugin causing this issue?

[2016-03-11 20:33] Rasre commented on #945
I dont know atm. I'll try it.

[2016-03-11 20:40] Rasre commented on #945
I only use the plugins PlotSquared, PEX and Multiverse. The bug is still present...

[2016-03-11 20:44] Rasre commented on #945
I can show you the bug on my server. Please send me your MCName. The IP is Atoxmine.de but i need to add you to the whitelist.

[2016-03-11 20:49] MattBDev commented on #945
My username is the same as it is on here. I'll be on in 5 minutes (assuming you see this message during that time)

[2016-03-11 20:51] Rasre commented on #945
Ok i added you.

[2016-03-11 21:47] Claudio18 opened #947 "Plot auto StringIndexOutOfBoundsException"
**Debug paste link**: http://hastebin.com/umixutiwuv.avrasm

**Description of the problem**: We have different worlds for different builder ranks. The main world where you first spawn in can't run the command /plot auto. Other worlds you can.

**How to replicate**: Not exactly sure how to replicate.

Make sure you've completed the following steps (put an X between of brackets):
- [http://hastebin.

[2016-03-11 23:37] MattBDev commented on #947
This was fixed. We just haven't released the version with the fix yet. You also did not properly fill out the issue template

[2016-03-11 23:37] #947 closed

[2016-03-12 01:07] AshourAziz opened #948 "Economy"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
ONLY error found in logs:
http://pastebin.com/mVwCSPBu

**Description of the problem:**
Plots are not costing anyone money.

**How to replicate**:
Two worlds, plots via /plotme auto and /plotme claim the cost is not being added.

Make sure you've completed the following steps (put an X betwe

[2016-03-12 05:25] MattBDev commented on #948
Please provide a `/plot debugpaste` or your issue will be closed tomorrow. Follow the issue template in the future if you require assistance.

[2016-03-12 07:50] Johandrex commented on #928
Could ya link me to the bug ticket you made to Spigot?

[2016-03-12 08:17] manuelgu commented on #928
https://hub.spigotmc.org/jira/browse/SPIGOT-1849

[2016-03-12 11:28] runescapejon commented on #928
xD i didnt know that the bug was reported i already reported it and it said its resolved https://hub.spigotmc.org/jira/projects/SPIGOT/issues/SPIGOT-1895?filter=allissues is there a way to fix this now ?@MattBDev

[2016-03-12 11:59] BloodyHarvest opened #949 "/plot clear & /plot auto error in console"
**Debug paste link**: http://hastebin.com/omaniwebad

**Description of the problem:** Upon running /plot auto or /plot clear it creates an error in the console, the claiming and clearing seem to work but it still doesn't give me a good feeling seeing the error. @Empire92 (MBon29 suggested tagging you)

Error: http://prntscr.com/ae39a2
          http://prntscr.com/ae16rq

**How to replicate**: Typi

[2016-03-12 14:16] WilliamEstrela opened #950 "Server crash"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
http://hastebin.com/okufagobay

**Description of the problem:**
Crash

**How to replicate**:

I use plotsquared in version 1.9 , created the worlds in vanilla mode with streets (http://prntscr.com/aeb1c0) , to walk the plots using fly the server crashes

Make sure you've completed the follow

[2016-03-12 15:56] Rasre commented on #945
Hey, can you please provide a new version today?

[2016-03-12 16:37] MattBDev commented on #945
I haven't been able to fix it yet. I need to talk to @boy0001 about it.

[2016-03-12 16:38] Rasre commented on #945
Maybe i can help you. I also develop plugins. Please send me the source of
the protection.

Matt <notifications@github.com> schrieb am Sa., 12. Mär. 2016 17:37:

[2016-03-12 16:40] MattBDev commented on #949
Yeah I couldn't figure this out (probably overthinking this)

[2016-03-12 16:41] MattBDev commented on #945
If you do need a quick fix, I recommend adding all the food items to the PlayerInteractEvent listener in the PlayerEvents class on the bukkit module. That's the quickest fix I can think of at the moment but it isn't the most reliable fix, which is why I haven't implemented it.

[2016-03-12 16:42] manuelgu commented on #950
This crash is not caused by PlotSquared. Seems like SimpleClans is the reason for the crash

[2016-03-12 16:45] Rasre commented on #945
Good idea! I'll do ut later. Thank you!

Matt <notifications@github.com> schrieb am Sa., 12. Mär. 2016 17:41:

[2016-03-12 17:04] boy0001 commented on #949
Line 128 of your settings.yml

Set that to a valid block name or id

[2016-03-12 17:04] #949 closed

[2016-03-12 17:22] boy0001 commented on #946
Could you let us know how you resolved this issue?

[2016-03-12 17:22] boy0001 commented on #945
Should be fixed.

[2016-03-12 17:22] #945 closed

[2016-03-12 17:24] boy0001 commented on #950
@manuelgu Can't confirm either without the crash log. Those errors are before the crash, though it's the obvious culprit.

@WilliamEstrela
Please provide the crash report and I can reopen this issue.

[2016-03-12 17:44] boy0001 commented on #950
Replicated:
http://hastebin.com/xatisoyowe.avrasm

[2016-03-12 17:55] MattBDev commented on #928
@runescapejon It can't be fixed. Your issue was marked as a duplicate. I'm submitting a patch later today with the fix

[2016-03-12 18:51] manuelgu commented on #950
@boy0001 Under which circumstances?

[2016-03-12 20:03] RenoLite commented on #946
I didn't.

[2016-03-12 20:38] manuelgu commented on #946
@RenoLite Why did you close the issue then?

[2016-03-12 21:12] BoxmanCaleb opened #952 "Economy"
http://hastebin.com/qavopesibe

When you go to purchase a plot it doesn't take money from the player at all. I've tested with bare permissions only allowing plots.plot.1 and plots.auto, and it still didn't work.

Attempt to purchase a plot, and it own't take money.

[2016-03-12 21:13] manuelgu commented on #950
Might or might not be related.
http://hastebin.com/joticibahe.avrasm

PlotSquared v3.3.1

[2016-03-13 01:00] Maxetto opened #953 "Chunks, Clear, Rate and other Bugs."
After updating to latest commit, I think I've finally solved the /p auto issue... However /p clear and /p delete still destroy the world.

- [ ] /p clear and /p delete leave a hole in the plot (If you don't replicate this, try with more Plot Worlds or after some time. It doesn't happen straight after a start/restart)
Standing in this hole feels like gliding (like a chunk that didn't load client-si

[2016-03-13 01:16] WilliamEstrela commented on #950
I pulled the simplesclans and the crash continues

[2016-03-13 02:12] L4BORG commented on #953
Try redownloading the latest update? (silent update if you're downloading builds from spigotmc.org) I had exact the same issue and I think it's ok now... well, hopefully it won't come back in a few hours (last time I've checked /p clear was bugged in less then 30 min after server restart).

[2016-03-13 02:26] Maxetto commented on #953
I'm building directly from Source. It's hard to be a build bug.
I have those kind of issues since I've updated to 3.3.X

[2016-03-13 02:59] #948 closed

[2016-03-13 03:01] MattBDev commented on #953
Relevant info would mean you provide us a debug paste so we know all the information that is helpful to us

[2016-03-13 03:03] MattBDev commented on #953
I think it also may be helpful if we included a githas him the version for people like you who compile the builds.

[2016-03-13 03:32] Maxetto commented on #953
[HERE](http://pastebin.com/t3rGp8vz) it is. I redacted some private infos, like IPs. Hope you don't mind.

[2016-03-13 08:02] BoxmanCaleb opened #954 "[Incorrect Format, Please don't open this.]"
http://hastebin.com/bavefugexi

Upon launch I get this error, "java.lang.UnsatisfiedLinkError: /tmp/sqlite-3.7.2-libsqlitejdbc.so: /tmp/sqlite-3.7.2-libsqlitejdbc.so: failed to map segment from shared object: Operation not permitted". And it says in chat when I try /plot home, "Found no plots with your search query" When just a few moments ago I had a plot, but after reboot and moving my server to

[2016-03-13 08:04] AuthMe opened #955 "Skull Horse on the road............"
Sometimes I find some Skull Horse on the plot world's road, and Skull on their back... and player killed by them... Oh my god what happend? Is this a hew feature for 1.9? This is... What the f**k...

Everything is ok, I can't find any problem on log or config.
What should I do? Thanks!

[2016-03-13 09:48] ME1312 opened #956 "Please add support for CBWrapper"
### Description of the problem:
Theres an error with the combination of plugins CBWrapper and PlotSquared when using any worldedit command. It seems to be the same error each time and is caused by this plugin's WE listener so I'll post it below.

### The Error:
The error is available [here](http://pastebin.com/DkP1jGTS) for viewing.

### How to replicate:
Add the plugins PlotSquared and CBWrapper

[2016-03-13 10:42] boy0001 commented on #956
Yep. It's from WorldEdit saying it's a player, then PlotSquared trying to get a player object from it, which obviously doesn't exist.

Would it make sense for WorldEdit from command blocks to also be restricted to plots?

[2016-03-13 12:54] AuthMe opened #957 "custom spawn event"
Can not stop player create a Iron Golems or Snow Golems.
Even if the custom set to false.
Minecraft 1.9.

[2016-03-13 14:23] adiantek opened #958 "Exception while running server"
**Debug paste link**:
[15:11:57] [Server thread/INFO]: [P2] Metrics enabled.
[15:11:57] [Server thread/INFO]: [P2]  PlotSquared is using online UUIDs
[15:11:57] [Server thread/WARN]: java.lang.RuntimeException: java.lang.NoSuchMethodException: net.minecraft.server.v1_7_R4.PacketPlayOutMapChunk.<init>(net.minecraft.server.v1_7_R4.Chunk, boolean, int)
[15:11:57] [Server thread/WARN]:        at com.i

[2016-03-13 14:41] Maxetto commented on #953
Chunks that doesn't regenerate also has a different Biome.
My Plots have FOREST Biome as default, but bugged chunks have PLAINS Biome.

[2016-03-13 15:52] cicatrice74 commented on #953
I have this issue too, after restart the p clear or p delete functions correctly but after some time the hole in the plot happens... anyone can fix this ?

[2016-03-13 16:58] MattBDev commented on #958
A debug paste link means that you provide a **LINK** by using the command `/plots debugpaste`

[2016-03-13 17:02] EvilOlaf commented on #958
It is included, just look down a bit ^^
Was also wondering that it is so short but it seems like that P^2 is the only plugin installed there.

[2016-03-13 17:08] MattBDev commented on #958
I think I remember @boy0001 saying that this might be normal behavior?

[2016-03-13 17:44] BoxmanCaleb opened #959 "Database Locked."
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
http://hastebin.com/bavefugexi

**Description of the problem:**
Upon launch I get this error, "java.lang.UnsatisfiedLinkError: /tmp/sqlite-3.7.2-libsqlitejdbc.so: /tmp/sqlite-3.7.2-libsqlitejdbc.so: failed to map segment from shared object: Operation not permitted". And it says in chat when

[2016-03-13 17:49] AipaMC commented on #953
I can also confirm this issue. Seems to work fine for a little while after a restart and then massive holes start forming when using /plot clear.

[2016-03-13 17:49] L4BORG commented on #953
Yeah, 5 hours after restart /p clear is bugged again (on latest 3.3.1).

[2016-03-13 17:57] #954 closed

[2016-03-13 18:02] MattBDev commented on #953
@Maxetto We don't have an official build server at the moment.

[2016-03-13 18:11] #955 closed

[2016-03-13 19:36] fabien91 opened #960 "Bug Chunk terraforming with Voxel (and maybe worldedit ?) on PlotSquared Map"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**: http://hastebin.com/ovinanijom

**Description of the problem:**
Hi, I've a probleme with your plugin and terraforming (voxelsniper), just look the screenshot the first is before reconnection and after :
Before : ![bug_terra](https://cloud.githubusercontent.com/assets/5675697/13730831/13e28c7

[2016-03-13 19:51] ME1312 commented on #956
Command blocks should probably be left unrestricted because only OPs can use them. (or otherwise a configuration option to toggle command block restriction)

[2016-03-14 01:39] boy0001 commented on #955
It's a 1.9 feature. You can disable mob spawning for the world if you don't want them spawning.

[2016-03-14 01:41] WilliamEstrela commented on #950
crash report http://hastebin.com/donizewuxi.avrasm

[2016-03-14 02:19] WilliamEstrela commented on #950
http://prntscr.com/aeygnu

[2016-03-14 09:02] sourcepowered opened #961 "The default plot size is 42x42?"
I use command `mv create test -g PlotSquared`, with out `:size:XX`, and the default plot size is 42x42? Not 32x32?
Is this a bug? Or intentionally?

[2016-03-14 13:48] tryolivier opened #962 "block forbidden"
Hello,

Is it possible to forbid block

exemple in config you can add

Block forbidden by user
-
-
-

I want my user can't use redstone, redstone torch, ...

thanks

[2016-03-14 14:16] MattBDev commented on #961
This is intended. I am going to close this ticket but you can still reply to it afterwards. Let me know where it says 32x32 in the wiki and I can fix that.

[2016-03-14 14:16] #961 closed

[2016-03-14 14:23] MattBDev commented on #898
@Sauilitired I've tried messaging you on skype without hearing back from you. Are you able to complete this soon?

[2016-03-14 14:25] MattBDev commented on #781
Is this still an issue? If I don't hear back, it will be assumed to be a fixed (or user resolved) issue.

[2016-03-14 14:27] MattBDev commented on #680
Should I assume these questions have all been answered and this ticket can be closed?

[2016-03-14 14:28] AuthMe opened #963 "1.7.10 problem"
[code]

I use PlotSquared 3.3.1 on Spigot 1.7.10, a new server without any plugins.

[2016-03-14 15:00] MattBDev commented on #963
Did not follow issue template.

[2016-03-14 15:00] #963 closed

[2016-03-14 15:18] AuthMe commented on #963
@MattBDev Oh! I'm sorry I forgot this...Has been re-written.

[2016-03-14 15:56] chamunks commented on #781
I haven't had really any crashes lately since upgrading to a recent build I will try to ask around if it's still been a problem.

[2016-03-14 17:42] MattBDev commented on #963
It is a duplicate anyways. someone reported this earlier.

[2016-03-14 19:11] L4BORG commented on #953
I can clear XX of plots, but only after restart... once /p clear is bugged... it would be bugged for everyone till next restat.

[2016-03-14 21:36] Johandrex commented on #962
You could use ItemRestrict for it ;)
https://www.spigotmc.org/resources/item-restrict-by-craftersland.7255/

[2016-03-15 00:38] #962 closed

[2016-03-15 03:24] AuthMe commented on #963
@MattBDev YES, I find it.

[2016-03-15 16:00] jaboy commented on #680
Well, none of the questions was ever answered.
The answer i got was basically "we cant give support on this because it is an experimental feature".
And it's totally okey if this is the case, but then there should really not be a text on the plot analysis wiki saying "Please create a ticket regarding any questions you would like covered in this page" if you didnt plan on answering them :P

[2016-03-15 16:00] #680 closed

[2016-03-15 16:58] jaboy opened #964 "Sign is preventing claiming of plots."
**Debug paste link**:
http://hastebin.com/kebijigove

**Description of the problem:**
On an unclaimed plot, when an empty sign is placed where the plots "info" sign would normally be, ps2 makes an error when trying to use /plot auto, or /plot claim.

**How to replicate**:
on an unclaim plot, place an empty sign where the info sign would be.
Attempt to use /plot claim on the unclaimed plot

**extra

[2016-03-16 01:43] Danielh90 opened #965 "Spawn Egg in plot world?"
Hello How do I enable spawning eggs in the plot world?

[2016-03-16 04:04] PhanaticD opened #966 "Plot clear deleting chunks in plots!"
I compiled the version off gihub march15

plot clear is resetting the chunks to be nothing, including neighbor plots!
screenshot: https://gyazo.com/107dfe46d41fa375ccddf85bccbc08d6

[2016-03-16 04:06] PhanaticD opened #967 "issue with plot alias"
[code]

[2016-03-16 04:06] PhanaticD commented on #967
[code]

[2016-03-16 04:08] PhanaticD commented on #966
this is most likely relevant:

[code]

[2016-03-16 05:00] PhanaticD commented on #966
then the generator did not load right or something with this error (causing the issue in the screenshot)

[code]

[2016-03-16 05:15] PhanaticD commented on #966
even when those error messages did not appear it is still happening, it was working one minute and then now it is not, no error message. One plot I could clear it and use //regen and the next one over I could not

[2016-03-16 05:36] PhanaticD commented on #966
after disabling fast mode it appears to be working, for now at least

[2016-03-16 05:44] Rida94 opened #968 "convert mysql to flatfile"
I would like to know if its possible to convert from using mysql to flatfile

[2016-03-16 11:29] Quicksteve opened #970 "Entire world as one plot"
## Description

A feature that allows you to use an existing world as one plot, e.g. spanning the entire world.
## Use Cases

The protection system P2 offers is great and the plot flags system is phenomenal. It would be amazing to be able to use these to control access/permissions to an entire world.
## Possible Issues

Certain command will probably not work, such as /plot clear. When a player is

[2016-03-16 13:37] MattBDev commented on #968
MySQL to SQLite support is planned see #377

[2016-03-16 13:37] #968 closed

[2016-03-16 13:44] MattBDev commented on #966
@PhanaticD Can you confirm that disabling fast mode fixed the issue? If you can, it helps  A LOT.

[2016-03-16 13:46] MattBDev commented on #965
Set event.spawn.egg in the config to false.

[2016-03-16 13:46] #965 closed

[2016-03-16 14:09] boy0001 commented on #968
`/plot database sqlite [file]`

[2016-03-16 14:09] boy0001 commented on #377
Added, forgot to close
`/plot database sqlite [file]`

[2016-03-16 14:09] #377 closed

[2016-03-16 14:11] boy0001 commented on #967
Version?
`/plot debugpaste`

[2016-03-16 14:59] PhanaticD commented on #967
uhh I compiled it off github March 15

[2016-03-16 17:25] jaboy commented on #970
just of curiosity
Don't worldguard offer the same protection ?
afaik, Worldguard is good as protecting the world, or region.
while plot squared is (currently only) good at protecting the plots and road.

It seems like a lot of work to rewrite plotsquared, when there is already a plugin that already does what you asked for :P

[2016-03-16 18:07] MattBDev commented on #970
i agree with @jaboy

[2016-03-16 21:23] Quicksteve commented on #970
P2 is much more user friendly than WorldGuard, and also offers more features. Anyway, I have poured a few hours of work into it and got it working pretty much.

#### General changes

- added a new type of PlotManager, returning always returning 0,0 as PlotID, returning Integer.MAX/MIN_VALUE as the edge coordinates and except for claim always returns false for all the other methods
- added a corres

[2016-03-16 21:51] zombachu commented on #887
Closed with #969

[2016-03-16 21:51] #887 closed

[2016-03-16 22:37] PinoyLifeCraft commented on #781
As my experiment when that player haven't online for how many days it will become **Unknown**

[2016-03-16 22:53] MattBDev commented on #964
I believe this is linked to an issue that @boy0001 recently resolved.

[2016-03-16 22:53] #964 closed

[2016-03-16 22:58] MattBDev commented on #919
PLease try 3.3.1 and let us know if it is happening on that version. If I don't hear from you then I am going to assume it is no longer an issue.

[2016-03-16 23:01] MattBDev commented on #871
Can you confirm if it is still an issue in 3.3.1?

[2016-03-16 23:03] MattBDev commented on #789
Merged with #801

[2016-03-16 23:03] #789 closed

[2016-03-16 23:25] MattBDev commented on #781
@PinoyLifeCraft can you provide a /plots debugpaste so I can further look into this issue?

[2016-03-17 00:41] #957 closed

[2016-03-17 01:24] MattBDev commented on #877
@SliderKP You can ignore the message and the plugin should resolve the issue itself

[2016-03-17 01:24] #877 closed

[2016-03-17 01:25] MattBDev commented on #736
Is this still an issue?

[2016-03-17 01:27] MattBDev commented on #735
I think this could be added to the Plot2Dynmap add-on instead of PlotSquared.

[2016-03-17 04:57] PhanaticD commented on #966
okay no it is not fast mode, it works fine after a server restart then randomly breaks over time (thats why i thought that was the fix, because a restart momentarily fixed it)

Sent from my iPhone

[2016-03-17 07:19] PhanaticD commented on #966
now it looks like this: https://gyazo.com/ed570ac4c09251acd9b39e6e3f3281e1

[2016-03-17 07:54] EvilOlaf commented on #966
Seems like only chunk which are not connected to the road are affected?

[2016-03-17 07:57] PhanaticD commented on #966
after changing to non-fast mode it looks like that

[2016-03-17 10:08] #956 closed

[2016-03-17 13:34] L4BORG commented on #966
So it's the same issue as here https://github.com/IntellectualSites/PlotSquared/issues/953 ?

[2016-03-17 14:23] #953 closed

[2016-03-17 14:23] #966 closed

[2016-03-17 14:53] boy0001 commented on #970
Minecraft worlds are +/- 30,000,000 so you could be returning a much smaller value to avoid integer overflow issues. If you change a couple methods, you could get a functional clear/download:
https://github.com/IntellectualSites/PlotSquared/blob/master/Core/src/main/java/com/intellectualcrafters/plot/commands/Area.java#L395-L417
https://github.com/IntellectualSites/PlotSquared/blob/master/Core/src

[2016-03-17 14:58] boy0001 commented on #735
PlotSquared needs to call an event for component setting first.

[2016-03-17 15:01] boy0001 commented on #871
Prefix is set in the database config but using SQLite which doesn't have a prefix. To fix this the SQLManager needs to ignore the prefix on SQLite for this method.

[2016-03-17 15:01] Elitania opened #971 "Problem with Player Rights in Plots"
Hello out there
Wre installed Plotsquared on a 1.8.8 Spigot (AMP from MCMyadmin)
Everything seems to work quiet well, plots are there, and in PEX we gave the Standard Package for Members to claim and buy plots.
When a player claims a plot, he can see the claiming, other players can see the owner if they enter to the plot too, but the claimed player cant build in his plot.
On all other worlds, the

[2016-03-17 15:06] #871 closed

[2016-03-17 15:11] boy0001 commented on #971
Try the following:
`/region flag __global__ build allow`

Also check in your permissions file that players have build permission (Not sure how to check this on pex, but groupmanager uses `build: true` in the permissions file)

If there's any message sent when players try to place blocks etc that could also help. PlotSquared by default should be sending a message if it is preventing an action.

[2016-03-17 15:18] #967 closed

[2016-03-17 15:21] boy0001 commented on #967
This error would be thrown if someone tries to set the plot to an alias that's already in use.

Fixed for future installations of the plugin. @PhanaticD You will need to modify the table `plot_settings` and remove `alias` as a unique key.

[2016-03-17 15:23] L4BORG commented on #966
Also, do you think that this could be related: http://shrani.si/f/3m/NS/1loSpXZT/untitled.png ? Started happening at about the same time and "plot regenallroads world" just wouldn't fix it... (also I think plot regenallroads world could be bugged since it would say that it's still running... after hours and we're rocking MC-32 with SSDs).

[2016-03-17 16:04] Quicksteve commented on #970
- Being able to use the same system that you use to manage your plot to manage your world is great from a player's perspective
- Also great is the plot tier system; difficult to implement that same level of granularity
- Other small, but useful features: inbuilt home system, chat, music, etc.

These are some major points on why this would be useful. Thanks for the info on clear and download, I'll

[2016-03-17 16:24] manuelgu opened #972 "Continue command not working as a bypass command"
**Description of the problem:**
Using version **3.3.1** on **Minecraft 1.8** (this shouldn't matter because the bug is there for quite a while), the following bug occurs:
You are unable to use the `/plot continue` properly as an admin. This is caused by a wrong check made in the [command class](https://github.com/IntellectualSites/PlotSquared/blob/master/Core/src/main/java/com/intellectualcrafters

[2016-03-17 16:33] #972 closed

[2016-03-17 17:39] fabien91 commented on #960
No answer ?

[2016-03-17 19:43] maxlehot1234 opened #973 "Suggestion: Plot claim PER WORLD"
Hi, I just want to know if its possible to allow player to do ./p auto ONLY in the world he was.

Example, I have 2 plots world on my server. Plots and plotscrea
If player was in plots and do ./p auto, it autoclaim a plt in plots world not plotscrea.

Thanks  because now, if a player do: ./p auto in plots world, the plugin can give him a plots in plotscrea world :(

Thanks again

[2016-03-18 01:18] Maxetto commented on #953
This is still not fully fixed. Using ChunkProcessor, even if I reset a plot and it's perfect, whenever I move around, the plot goes back to its bugged state...

[2016-03-18 01:59] maxlehot1234 opened #974 "Plot clear put plot broder claim (not supposed too do this)"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
http://hastebin.com/gerasumasu

**Description of the problem:**
When a plaot was not claim, I have a hole in it (CAUSED BY PREVIOUS VERSION). I want to remove the hole, so I do ./p clear

It remove the hole but put the plot border like if this plot was claimed by a player, but this is not tr

[2016-03-18 02:12] maxlehot1234 opened #975 "PER WORLD purge plots"
Hi, is it possible to add in a later version something to setup which worldds plots can be purge and not?

So with this, my main plots world can be auto-purge non-logged players after xxxxx days, but my secondairy world never purge plots.

It can be useful for my server and maybe a lot more ;)

Thanks

[2016-03-18 02:35] Maxetto commented on #974
I think this is intended as it would be a command for owned plots. Yet a case to check if a plot is claimed or not in order to choose the right plot border, would be much appreciated :)

[2016-03-18 03:34] boy0001 commented on #975
Purge command:
'/plot purge world:<world>'

Or for the automatic plot clearing, set the keep flag to true for that world (settings.yml)

[2016-03-18 03:37] boy0001 commented on #953
If it stops rendering when you move or look around then it's a client side rendering issue. The rate bug should going another ticket.

[2016-03-18 08:55] #898 closed

[2016-03-18 08:55] boy0001 commented on #152
Implemented ages ago, forgot to close this

[2016-03-18 08:55] #152 closed

[2016-03-18 08:56] boy0001 commented on #323
added a script a while ago (can be found on API documentation page in wiki), forgot to close.

[2016-03-18 08:56] #323 closed

[2016-03-18 08:56] boy0001 commented on #328
Added a while ago:
`/plot toggle chatspy`

[2016-03-18 08:56] #328 closed

[2016-03-18 08:57] boy0001 commented on #330
Should have been fixed.

[2016-03-18 08:57] #330 closed

[2016-03-18 11:34] PhanaticD opened #976 "Plot kicking clients upon entry"
Version compiled off github march 17

upon entry of a specific plot you get kicked from the server:
PhanaticD lost connection: Internal Exception: io.netty.handler.codec.EncoderException: java.lang.RuntimeException: An internal error occured.

I manually deleted the flags for the plot in the database and it fixed the issue, so I am confident that that was the problem. I am sorry I cannot say speci

[2016-03-18 11:40] PhanaticD opened #977 "Auto-purge missing some?"
I set auto-purge true and I noticed this in the logs: https://gyazo.com/f4f858417d3507cae0f43bb50454bf02

something to be worried about or no?

[2016-03-18 13:38] Byteflux commented on #930
b95fdeccca76f42dc7b9a1338fc5eb4954bc22ba

[2016-03-18 14:43] Quicksteve commented on #970
I implemented the features a few hours ago after I wrote that post, and after further testing with a few players everything seems to work great.

[2016-03-18 17:42] Elitania commented on #971
hello Boy0001
Thank you for your kind answer.
We tryed everything from Flags (we have some mulitworld server) till to all other Plugins to fix this.
All Player can interact on all worlds as we want this, and even when a player claim a Plot, it seems to be his plot (there is a wonderful animation showing in full screen the ownership of every plot)

Well, we have PEX instaled and configured very pro

[2016-03-18 19:01] #975 closed

[2016-03-18 21:30] QUIQUELHAPPY opened #978 "Titles not showing up and disappearing with delay"
**DESCRIPTION:**
When I enter a plot, the title is showed, but, it just appear and **disappear without any transitions**.

Also, in 1.8 I was working with titleapi and with plotsquared and now (1.9) i**f I don't remove titleapi the titles don't appear**.

Is there any way to fix the **first** issue? The **second one is something I will talk with the titleapi developer**.

[Trello Link](https://tre

[2016-03-18 21:42] Twi5TeD opened #979 "schemetic and template bug"
so i created an template and a schematic awhile ago and used to work fine i updated plotsquare and they both broke when i claimed a plot it would say not a valid schematic so i moved back to an older version of plotsquared and it works fine again

[2016-03-18 22:24] MattBDev commented on #979
@Twi5TeD If you do not reply within 12 hours with a `/plots debugpaste` then this issue will be closed. Please use the issue template in the future.

[2016-03-18 22:26] MattBDev commented on #978
Can you provide a `/plots debugpaste` without that we have nothing to work off of.

[2016-03-18 22:28] Twi5TeD commented on #979
http://hastebin.com/hujenudire plotsquared version 3.2.26
http://hastebin.com/uleboheraf plotsquared version 3.3.1

[2016-03-19 00:00] boy0001 commented on #978
I was lazy when updating to 1.9 and didn't finish coding the transitions for titles.

[2016-03-19 00:13] boy0001 commented on #976
Tested, works fine on normal spigot. This is caused by PaperSpigot.
https://github.com/PaperMC/Paper/issues/83
https://github.com/PaperMC/Paper/pull/84

[2016-03-19 00:13] #976 closed

[2016-03-19 00:37] astr1al opened #980 "Plot Cluster Errors"
Debug Paste
http://hastebin.com/ajevefixon

Here's the first error that pops up when enabling P2
http://pastebin.com/mqzBJUJ3

Later on when the plugin loads it sends this error
http://pastebin.com/5qRFiGBb

I am running on Spigot 1.9, this wasn't an issue on 1.8.9. Guessing its something to do with - values in chunk id's in the plot configs.

**How to replicate**:

Make sure you've completed the

[2016-03-19 01:07] MattBDev commented on #980
Fixed in this commit a few days ago 3fb64d9811d041f3c4d605baf67a51e6c46e1a86

[2016-03-19 01:58] boy0001 commented on #977
Not really, although we really should fix the checks for certain flags.

[2016-03-19 02:01] #950 closed

[2016-03-19 10:01] QUIQUELHAPPY commented on #978
I leave the debug info here, if some of you can help me to fix that the titles don't appear when entering (or appearing by very little time [5ms or so]) would be amazing.

http://hastebin.com/nipuwesoxa

[2016-03-19 11:04] zombachu opened #981 "Showerthought I had for a new feature (super low priority imo)"
We have /p merge, which is awesome, but what about /p split to split a plot into fourths or something? I'm not sure how it would work if road width % 2 != plot width % 2, but this was just an idea I had.

Some uses of this might be:

* A player wishes to have different flags set in different parts of their plot, but they don't want to (or can't) claim another plot to do so
* Same situation as the

[2016-03-19 11:17] PhanaticD commented on #976
okay thanks sorry to bother :)

[2016-03-19 12:55] adiantek commented on #958
I think that exceptions in console is not normal behavior.

[2016-03-19 13:01] boy0001 commented on #958
No idea what I said in some other context. Anywho the stacktrace is still an error. It gets thrown when the NMS class for mass block changes can't load. Plugin will function, just slower for certain functions.

Need to fix the NMS stuff for 1.7.10.

[2016-03-19 13:05] boy0001 commented on #978
Oh, 5ms, that's not normal then. Try updating the plugin:
http://ci.xephi.fr/job/PlotSquared/

[2016-03-19 13:06] boy0001 commented on #981
https://github.com/IntellectualSites/PlotSquared/issues/21

[2016-03-19 15:35] elmasbv opened #982 "Plot Schematic issue"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**: http://hastebin.com/ogadefasaw

**Description of the problem: I set anything following
https://github.com/IntellectualSites/PlotSquared/wiki/Usage:-Schematic-on-claim
And i set " on_claim: false` " , because i want the player after claim the plot to change in a simple grass plot , and when i

[2016-03-19 16:48] Sabache opened #983 "Plot Clusters not Working in 1.9 update"
Server Log File:
[latestlog.txt](https://github.com/IntellectualSites/PlotSquared/files/180910/latestlog.txt)

/plot debugpaste Link:
http://hastebin.com/towasoreno

Basically I can not get the Cluster Function to work at all.. I have a server running 1.8.8 bukkit that I want to update to 1.9, but it is running a cluster. I have tried to run a local server several times, but the cluster system app

[2016-03-19 17:31] MattBDev commented on #983
@Sabache
Try using the version of the plugin from this link: http://ci.xephi.fr/job/PlotSquared/
Let me know if it fixes the issue.

[2016-03-19 17:42] MattBDev commented on #982
`on_claim: true` is what should be in your config. That means whenever someone uses the command `/plot claim` the schematic will appear. The schematic won't generate when the plots aren't loaded nor will they replace existing plots.

[2016-03-19 17:42] #982 closed

[2016-03-19 18:34] chamunks commented on #781
@MattBDev I can't exactly give you @PinoyLifeCraft's debugpaste but I can give you ours.  http://hastebin.com/uwoyumupuc  It seems to still be happening.

[2016-03-19 18:42] astr1al commented on #980
I still have this error w/ the latest build. :/

[2016-03-19 18:57] Sabache commented on #983
Did not fix the issue.. My server just rebooted and now it has a similar problem.. it is still running 1.8.8 so I don't know what happened to it.

[2016-03-19 19:07] JKnetz commented on #966
Same issue here

[2016-03-19 19:08] JKnetz commented on #932
Same issue here

[2016-03-19 19:17] manuelgu commented on #928
https://hub.spigotmc.org/stash/projects/SPIGOT/repos/bukkit/commits/a09454032a06eeeb9e405167a9a4aff02b4ce0f9

http://hastebin.com/aduwigifis.coffee

[2016-03-19 19:24] dangerORclose opened #984 "Ghost blocks"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
http://pastebin.com/6taRR19i
**Description of the problem:**
Console spam / Plot merge roads clears the roads for some seconds then they spawn back in. Right clicking on the blocks make them dispear. Relogging of F3 + A  brings them again back. But they are again disapearing when you click o

[2016-03-19 19:40] jtcressy opened #985 "Unable to use plot saving/downloading/schematics - /p save replies with "failed to save""
**Debug paste link**: http://hastebin.com/arekijofev

**Description of the problem:**
Plotsquared does NOT save or use plot schematics

**How to replicate**:
/p save replies with "failed to save"

- [x] Include `/plot debugpaste`
- [x] Made sure there aren't duplicates of this report [(Use Search)](https://github.com/IntellectualSites/PlotSquared/issues)
- [x] Made sure you're using an updated ver

[2016-03-19 20:30] Smexybeest commented on #984
I think I'm having the same issue but I'm having trouble pinpointing what's causing it. Doesnt happen in any other worlds than plotworlds though.

[2016-03-19 20:39] zombachu commented on #981
Ah, sorry

[2016-03-19 20:39] zombachu commented on #981
Duplicate of #21

[2016-03-19 20:39] #981 closed

[2016-03-20 01:06] boy0001 commented on #985
Invalid configuration. You have the web link pointing to a non-existent web interface (https://www.jtcressy.net/plot/). Please setup the interface correctly, or reset it back to it's default value:
https://www.empcraft.com/plot/

[2016-03-20 01:06] #985 closed

[2016-03-20 01:10] jtcressy commented on #985
Were you able to visit https://www.jtcressy.net/plot? Should it be in the subfolder /plots instead? You guys offer the web front end as a distributable package to install on webservers, Is there a guide to properly setup the web interface?

[2016-03-20 01:12] boy0001 commented on #985
Doesn't matter which subfolder, but that's not the correct web interface for those commands.
PlotWebPHP is just for `/plot schematic`

You need to install PlotUpload:
https://github.com/IntellectualSites/PlotSquared/wiki/Plot-web-interface

[2016-03-20 01:27] jtcressy commented on #985
Ok, I installed PlotUpload and saving/downloading works after i pointed the plugin to https://www.jtcressy.net/plotupload

Yay!

Now, i guess i could file another issue, but i'm unable to upload schematic files via either web interface and have the ability to access it ingame on the server. (and i have linked the plugins/PlotSquared/schematics to <webserver>/plots/schematics)

[2016-03-20 04:31] MattBDev commented on #980
@astr1al can you produce a new `/plots debugpaste` link when using the dev build where it should have been fixed?

[2016-03-20 07:48] boy0001 commented on #985
With plotupload you need to enable uploading in the configuration.php, it's disabled by default. It'll prompt you to use the schematic paste command once it's uploaded.

[2016-03-20 07:59] boy0001 commented on #980
@MattBDev it would be the same error.

The cluster creation as described on the wiki was removed in favour of the '/plot area' command. It's still an error, as trying to create a cluster in a non plot world should print a usage message.

Anyway, the new syntax is '/plot area create type=<terrain> terrain=0 size=<size>'

Terrain 0 would be flat plots. I'll update the wiki/plugin when I get home

[2016-03-20 15:42] QUIQUELHAPPY commented on #978
Fixed.
You need to disable welcome title if you want to use title-manager with plotsquared on 1.9.

[2016-03-20 15:42] #978 closed

[2016-03-20 16:53] astr1al commented on #980
@MattBDev  Here's a /plots debug from build #26 http://hastebin.com/ekoyirozet

[2016-03-20 17:34] darknightcore opened #987 "Feature Request: Additional money deduct for plot buy"
Is there a way or yould you please add it ?
To additional deduct money from a player(multiplier) when merging or buying a new plot in the world.
e.g.
Limit 9 Plots in the world
Plot Cost: 500
1. Plot 500
2. Plot 1000
3. Plot 1500
and so on.

[2016-03-20 21:35] DannyPokemon opened #988 "URGENT! no longer protecting plots"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
this problem has nothing that comes from the console log etc.
http://hastebin.com/esetebupul

**Description of the problem:**
after restoring the world from a backup, i restarted the server to find that the world had been unloaded. i loaded it up again and it was no longer protecting plots,

[2016-03-20 21:36] manuelgu commented on #988
Please elaborate.

Also, adding a `/plot debugpaste` would actually be quite helpful in this case.

[2016-03-20 21:37] DannyPokemon commented on #988
added to OP.

[2016-03-20 21:38] DannyPokemon commented on #988
elaborate? well when i do any command when i am standing in what would be a plot, like /plot info, it tells me i am not in a plot........ it's wiird.

[2016-03-20 21:40] manuelgu commented on #988
Are you able to teleport to a plot in general?
`/plot tp 1;1`

[2016-03-20 21:41] DannyPokemon commented on #988
nope. doesn't exist not in a valid plot world. i am in the plot world! AAH

[2016-03-20 21:42] manuelgu commented on #988
I am assuming the world is called `Creative`? Please check your multiverse file if the generator for that world is set correctly.

[2016-03-20 21:43] DannyPokemon commented on #988
oki gimme a sec

[2016-03-20 21:47] DannyPokemon commented on #988
here is the `creative` entry in my `worlds.yml`:

`  Creative:
    ==: MVWorld
    hidden: 'false'
    alias: ''
    color: WHITE
    style: NORMAL
    pvp: 'true'
    scale: '1.0'
    respawnWorld: ''
    allowWeather: 'true'
    difficulty: EASY
    spawning:
      ==: MVSpawnSettings
      animals:
        ==: MVSpawnSubSettings
        spawn: 'true'
        spawnrate: '-1'
        exceptions:

[2016-03-20 21:49] DannyPokemon commented on #988
it says: `generator:null`; i'll change it to what exactly?

[2016-03-20 21:56] DannyPokemon commented on #988
gonna close the world and sort it out in morning EST.

[2016-03-20 21:57] manuelgu commented on #988
It should be the following:
`generator: PlotSquared`

[2016-03-20 22:29] zombachu opened #990 "Feature request: "Manager" plot permission tier"
Some ideas that I had for this tier:

Able to
- Set flags
- Kick/deny/undeny players
- Add/remove/trust/untrust players
- Review the plot's comments

Unable to:
- Move/swap the plot
- Merge/unmerge the plot
- Delete the plot
- Mark the plot as "done"
- Change the alias
- Set the plot home
- Clear the plot
- Make other players managers

[2016-03-20 23:04] #988 closed

[2016-03-21 01:46] lasercar opened #991 "/plot clear makes a giant hole"
**Debug paste link**: http://hastebin.com/olivutarob

**Description of the problem**: When doing `/plot clear`, a hole is created in the plot. This happens for any plot. The hole does not go away when relogging, and you can build or destroy blocks in the hole.

![2016-03-20_20 25 04](https://cloud.githubusercontent.com/assets/6022168/13908902/09556c9c-eedb-11e5-9e7b-de5de157cb36.png)

**How to rep

[2016-03-21 02:39] MattBDev commented on #991
Already fixed. See issue #953

[2016-03-21 02:39] #991 closed

[2016-03-21 08:25] DannyPokemon commented on #988
Ok, will try.

[2016-03-21 21:18] QUIQUELHAPPY opened #992 "Plugin not loading"
[code]

[2016-03-22 06:25] EvilOlaf commented on #992
`at com.intellectualcrafters.plot.object.PlotArea.loadDefaultConfiguration(PlotArea.java:238)`
just guessing, but did you try to backup your current config (if any) and let P^2 create a new one?

[2016-03-22 07:18] WebShark025 opened #993 "Loading void broken chunks"
**http://hastebin.com/wolajojicu**:

Description:
Hi, I think this is a serious problem with PlotSquared v3.3.1.
Actually, It loads broken chunks. They are always void, but sometimes when we walk on them, it generates. Sometimes, we should Right click air blocks for the blocks to generate (we should right click each 1block  of that chunk.), Sometimes, It generates in wrong place. For example it ge

[2016-03-22 07:36] EvilOlaf commented on #993
When you click on a block and it disappears or you click on air and a block appears, this seems the the chunk update was not successful. Try teleporting to another world and then teleport back to refresh these chunks.

[2016-03-22 10:55] WebShark025 commented on #993
Thanks EvilOlaf for answer,
I did Restarted the server about 4 times, I teleported to some worlds and i came back to this world, I went to nether, I renamed the world, I tried to fix the world with Chunkster, etc.

Other problem is, WorldEdit does not works in theese places!!! it says '0 Blocks changed.' like im doing it under the bedrocks of the world.
Its not also for me, about 40-45 People have

[2016-03-22 11:08] WebShark025 commented on #993
Update:

Pretty same as #953 , But this time it also breaks the roads. Using worldedit //regen makes it even worse.

[2016-03-22 11:32] QUIQUELHAPPY commented on #992
It was because a mysql database error

[2016-03-22 11:32] #992 closed

[2016-03-22 11:38] WebShark025 commented on #993
Sorry for spamming,

Update: (Removed all plugins instead of P2,Essentials,Worldedit,MultiverseCore)

It replaces no blocks, But it does set blocks to AIR (and Undo works fine.)
When using //REGEN, It says the error in below image, and it sets everything to Stone & Andesite. Like a stone city...Phew
![image](https://cloud.githubusercontent.com/assets/12953043/13950347/090bc0c4-f048-11e5-98fe-c7154

[2016-03-22 13:00] QUIQUELHAPPY opened #994 "Send an user to a plot"
Hi!
I know this is the issues section, but I've looking for a while [here](https://github.com/IntellectualSites/PlotSquared/wiki/Commands) and I didn't find any command that let the console (or admin) send a player to a plot.

Is there any possible way to send somebody to a plot?

[2016-03-22 13:12] manuelgu commented on #994
I think most servers have Essentials installed, so they can use `sudo` for it. However, it should be fairly simple to add a check for a third argument [here](https://github.com/IntellectualSites/PlotSquared/blob/master/Core/src/main/java/com/intellectualcrafters/plot/commands/Visit.java#L71).

[2016-03-22 13:20] QUIQUELHAPPY commented on #994
Thanks!

[2016-03-22 13:20] #994 closed

[2016-03-22 17:59] manuelgu commented on #469
This can probably be closed?

[2016-03-22 18:03] manuelgu commented on #400
1) https://github.com/IntellectualSites/PlotSquared/wiki/Setting-all-signs
2) https://github.com/IntellectualSites/PlotSquared/wiki/Resetting-plot-biomes

[2016-03-22 18:21] manuelgu commented on #172
Do you expect it to have more documentation than it has at the moment?
- Usage taken from `@CommandDeclaration`
- Description taken from `@CommandDeclaration`

![](http://i.imgur.com/VCv2BYA.png)

[2016-03-22 18:28] #469 closed

[2016-03-22 18:54] MattBDev commented on #993
Probably something changed in NMS between 1.8 and 1.9 which either requires some extra code or breaks some existing code.

[2016-03-22 19:03] MattBDev opened #996 "Add CodeStyle to repo"
Add recommended code style to repo for Eclipse and IntelliJ. Best for when people want to contribute to the project.

[2016-03-22 19:10] MattBDev commented on #172
I think we need to make sure all arguments (including optional ones) are included.

[2016-03-22 19:18] manuelgu commented on #172
We should also either add a usage` for every command, or remove it from all of them.
As you see in the screenshot above, there is some mismatch for the usage. I used `/2 help chat`, `inbox` & `chat` both have the usage value, `comment` doesn't.

[2016-03-22 19:19] manuelgu commented on #996
https://google.github.io/styleguide/javaguide.html This one is the one used the most all over the web :)

[2016-03-22 19:58] MattBDev commented on #996
@manuelgu I follow the Sponge Code Style because I like the small tweaks they made to it. Which one do you think we should go with?

[2016-03-22 20:06] SpyL1nk opened #997 "Server crash on clear/delete plot [SEVERE All server with PS can be crashed]"
Crash report of the server: http://pastebin.com/32PNK3mY

Our server crash when someone clear or delete a plot which contains a daylight detector. I tested on other servers and this issue can be easily replicated by anyone ... I tested many versions of PlotSquared and version 3.2.26 from Jan 12, 2016 is good but all 3.3.X I downloaded (from Bukkit, Spigot, your Jenkins) are bugged ...

How to repl

[2016-03-22 20:16] manuelgu commented on #996
I am totally fine with the changes Sponges Code Style has. The only thing I dislike is having an extra space between `class MyClass {` and the first member of a class.

The decision is up to you, I'm fine with both :+1:

[2016-03-22 20:41] manuelgu commented on #997
This has been reported to the Spigot JIRA and can be found [here](https://hub.spigotmc.org/jira/browse/SPIGOT-575).

[2016-03-22 20:45] SpyL1nk commented on #997
"This was caused by a plugin and has since been fixed in that plugin, please close"
This was the reported comment so I think it's a plugin issue and this was reported in Mar 2015, more than a year ago.

[2016-03-22 21:10] manuelgu commented on #996
Talking about code styling, running tests using [SonarQube](http://www.sonarqube.org/) could also be a fun thing to trial the code.

[2016-03-22 22:06] fabien91 commented on #997
I can confirm this, it's a severe bug that cause crash total of server...
And i've test with no plugin and just add PlotSquared on test server the bug is still present.

[2016-03-23 00:46] MattBDev commented on #997
can you provide your latest.log file too? It may provide some more helpful information. Preferably using www.hastebin.com (I hate pastebin)

[2016-03-23 00:50] SpyL1nk commented on #997
This is a log file of a test in 1.8.8, but the error is the same in 1.9: http://www.hastebin.com/huyiduriji.sm

[2016-03-23 01:16] astr1al commented on #980
Fixed by regenerating a new config, then re-adding cluster data to bottom of config.

[2016-03-23 01:16] #980 closed

[2016-03-23 01:27] MattBDev commented on #997
@SpyL1nk do you have fastmode clear enabled?

[2016-03-23 01:28] MattBDev commented on #980
@astr1al can I see you config now so I can just compare it to the old one you had?

[2016-03-23 01:29] SpyL1nk commented on #997
No, fastmode is defined on false on the server.

[2016-03-23 01:34] astr1al commented on #980
@MattBDev Here ya go http://pastebin.com/cdMYB5zP

[2016-03-23 07:34] SpyL1nk commented on #997
I just tested with the fastmode enabled and it seems that it works. I will enable this to correct until you can patch it (or not).

[2016-03-23 16:36] boy0001 commented on #990
Mostly arbitrary distinctions. Done is a flag, alias/home would be a flag except for legacy reasons. Would be better to have this configurable per tier.

[2016-03-23 22:46] zombachu commented on #990
So something like this then?

Able to
- Set flags (including done)
- Kick/deny/undeny players
- Add/remove/trust/untrust players
- Review the plot's comments
- Change the plot's home
- Change the plot's alias

Unable to:
- Move/swap the plot
- Merge/unmerge the plot
- Delete the plot
- Clear the plot
- Make other players managers

I do agree that excluding certain flags (and the alias/home changin

[2016-03-24 01:55] pedroo21 commented on #581
I can confirm this problem is now solved. When players join, they get the plot.

Thanks for the excelent work!

[2016-03-24 03:50] boy0001 opened #998 "Add teleportation on death"
There's an option for teleportation on login (`teleport.on_login`), teleportation on death would also be useful.

[2016-03-24 10:44] boy0001 commented on #973
This shouldn't be happening with two worlds.

[2016-03-24 11:08] #983 closed

[2016-03-24 15:18] boy0001 commented on #929
Need to rework the commands to use the new API, but economy is now centralized to the MainCommand class.

Note to @MattBDev : This isn't city's CommandAPI, no idea what's happening with that. I just reworked existing classes (so it's still backwards compatible and I won't need to update all addons). Won't be as clean as a complete rewrite.

Note to self:
The commands will need to switch from SubCo

[2016-03-24 22:03] PhanaticD opened #999 "feature request: potion throw flag"
by default anyone can throw potions anywhere. This can be annoying for players, so I am requesting a flag for players to be able to turn on potion throwing if they want it

[2016-03-25 03:25] #997 closed

[2016-03-25 04:36] MattBDev commented on #999
I would think that potions would trigger a projectile event? Do they have their own event?

[2016-03-25 04:41] MattBDev commented on #999
Answer to my own question: The plugin needs to listen to PotionSplashEvent and LingeringPotionSplashEvent

[2016-03-25 09:26] frizzbee30 commented on #781
We are now finding this to be an issue also (comment in discussion forum)

[2016-03-25 23:26] darknightcore opened #1001 "Feature Request: ExpireManager getting player"
Please add a way to get the player from a purged plot through ExpireManager.

[2016-03-25 23:46] manuelgu opened #1002 "Good practice version naming"
I am creating this ticket because I'm running into several issues with the way the plugin gets updated and versions are named.

A couple of weeks ago you have released version `3.3.1` including many bug fixes and improvements. Starting from that date, every other day you made commits to the repository without changing the version to `3.3.2-SNAPSHOT` or similiar. This is generally bad behaviour.

T

[2016-03-26 12:40] jaboy opened #1003 "regen all plot borders and info signs"
Hello

I would like to request the feature that /plot regenallroads (or maybe a new command) could regenerate the plot borders and the info sign that are on the plots

why ?
Currently /plot regenallroads will override the plots borders and remove all info signs, it would be nice if they could be restored.

[2016-03-26 13:35] boy0001 commented on #1003
There are scripts for this, but it does make sense to have it added to the command:
https://github.com/IntellectualSites/PlotSquared/wiki/Scripting

[2016-03-26 23:33] fatboy2380 opened #1004 "Issues with claiming 3.3.1"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
http://hastebin.com/zopaweweye
**Description of the problem:**
Cannot claim plots via /plot claim or /plot auto
**How to replicate**:
/plot claim /plot auto

Make sure you've completed the following steps (put an X between of brackets):
- [x] Include `/plot debugpaste`
- [X] Made sure there

[2016-03-27 00:15] Twi5TeD commented on #979
did you find a fix?

[2016-03-27 00:18] Twi5TeD opened #1005 "cannot use schematics on latest plotsquared"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**: http://hastebin.com/hujenudire plotsquared version 3.2.26
http://hastebin.com/uleboheraf plotsquared version 3.3.1

**Description of the problem:**
when claiming a plot i get a message saying failed to generate  schematic but if i go back to an older version of plotsquared it works fine

**H

[2016-03-27 00:18] #979 closed

[2016-03-27 03:12] PhanaticD commented on #966
https://gyazo.com/93f848f113f718528d7a63dbb04eae94
this is version compiled off github march 25 right after you pushed that commit "forgot to push this"
with fast-mode false

[2016-03-27 03:52] PhanaticD opened #1006 "error on clear"
using dev build from today
[code]

[2016-03-27 04:25] Danielh90 opened #1007 "Mob stay in plot?"
Is there make it so mobs only stay in the plot and not come out?

[2016-03-27 05:17] boy0001 commented on #1006
Fixed

[2016-03-27 05:17] #1006 closed

[2016-03-27 05:27] boy0001 commented on #1007
There are options to kill mobs when they leave. `settings.yml` -> kill-road-mobs / kill-road-vehicles

You could also put a fence around the plot.

[2016-03-27 05:27] #1007 closed

[2016-03-27 05:30] Danielh90 commented on #1007
Ok Thanks.

[2016-03-27 05:33] boy0001 commented on #1004
What is the output?

[2016-03-27 08:33] boy0001 opened #1008 "Metrics broken in sponge."
Changing to the default metrics is broken with sponge, that's why we were using a modified class. We also miss out on some graphs and such with the default.
[code]

[2016-03-27 08:40] fatboy2380 commented on #1004
@boy0001
http://hastebin.com/fuvibuyimu

[2016-03-27 09:10] boy0001 commented on #1004
Thanks. Updating the plugin should fix that.

[2016-03-27 09:10] fatboy2380 commented on #1004
Thanks for the information

[2016-03-27 09:13] #1004 closed

[2016-03-27 17:58] sandmonkey opened #1009 "Converting Plotme>Plotsquared"
**Debug paste link**:
http://hastebin.com/evabuhezor
**Description of the problem:**
http://i.imgur.com/D33adqd.png
**How to replicate**:
I've managed to create the plotsquared tables in mysql db, but it says it cant convert the plots.db even though i have deleted plotme.jar... am i missing a step?
Make sure you've completed the following steps (put an X between of brackets):
- [X] Include `/plot

[2016-03-27 22:55] MattBDev commented on #1002
Agreed. I noticed awhile after 3.3.1 was released. I will be pushing an update that begins 3.3.3-SNAPSHOT

[2016-03-27 22:57] MattBDev commented on #1002
fixed in 93ef066d7bdf2f206626567dd400b0e637278f11

[2016-03-27 22:57] #1002 closed

[2016-03-27 23:58] manuelgu opened #1010 "END OF FILE while parsing JSON"
# Bug report
**Debugpaste**:
http://hastebin.com/neyibusuva

**Description of the problem:**
Every now and then the following stacktrace occurs in the console. http://hastebin.com/zamomefiro.avrasm

[See code](https://github.com/IntellectualSites/PlotSquared/blob/master/Bukkit/src/main/java/com/plotsquared/bukkit/uuid/SQLUUIDHandler.java#L130)

This might or might not be related to a problem that

[2016-03-28 02:37] boy0001 commented on #1009
Can you attach your PlotMe config.yml ?

[2016-03-28 02:40] boy0001 commented on #1010
It's the UUID fetcher, always a chance mojang's auth servers are down or some other connection problem.

[2016-03-28 02:40] #1010 closed

[2016-03-28 03:55] #930 closed

[2016-03-28 03:56] #919 closed

[2016-03-28 03:57] #873 closed

[2016-03-28 03:58] MattBDev commented on #872
This issue will be closed if more details and a `/plot debugpaste` are not provided within the next 2 days

[2016-03-28 03:59] MattBDev commented on #787
You can't have a space in the worldname.

[2016-03-28 03:59] #787 closed

[2016-03-28 04:04] WebShark025 commented on #993
Fixed in new version of P2. Thanks alot ! <3

[2016-03-28 04:07] #993 closed

[2016-03-28 04:33] MattBDev commented on #455
@boy0001 this issue still relevant?

[2016-03-28 04:34] MattBDev commented on #433
Is this issue still relevant?

[2016-03-28 05:57] boy0001 commented on #455
Well the issue that wasn't fixed was `/plot info` displaying the wrong biome sometimes. No idea if it's since been fixed. Can probably close until someone reports it again.

[2016-03-28 05:57] #455 closed

[2016-03-28 08:26] manuelgu commented on #1010
I have seen this error come up multiple times in the last days. Don't pin me down to that, but I think it was since upgrading from 3.2.26 to 3.3.1 couple of days ago. [See diff](https://www.diffchecker.com/kchmj9il)

[2016-03-28 08:32] Eyalthesolo opened #1011 "reset plot to first stage"
hi,
how can i reset a plot to its first stare?
if i do '/plot reset' or '/plot delete' i'm getting a big hole and not the flat land i had.

[2016-03-28 09:05] boy0001 commented on #1010
Code hasn't changed, that's just some formatting.

[2016-03-28 09:05] boy0001 commented on #1011
Updating the plugin should fix that issue.

[2016-03-28 09:40] Eyalthesolo commented on #1011
i`m on PlotSquared v3.3.2

[2016-03-28 10:38] Eyalthesolo opened #1013 "/plot reset giving me a big hole"
hi,
how can i reset a plot to its first stare?
if i do '/plot reset' or '/plot delete' i'm getting a big hole and not the flat land i had.
i`m on PlotSquared v3.3.2

[2016-03-28 11:13] manuelgu commented on #1013
`/plot clear` should work. If it doesn't, please provide a `/plot debugpaste`.

[2016-03-28 11:21] MattBDev commented on #1013
Please provide a `/plot debugpaste` or this issue will be closed in 24 hours

[2016-03-28 11:37] manuelgu commented on #774
This does not work. If I do `/plot h:2 SomeGuy` it tells me that the number is within an invalid range. `/plot h:1 SomeGuy` teleports me to the first plot of SomeGuy and `/plot h SomeGuy 2` brings me to the second plot of SomeGuy.

[2016-03-28 11:56] boy0001 commented on #1011
Can you provide a `/plot debugpaste` then?

[2016-03-28 12:33] manuelgu opened #1014 "Plot move & copy not working properly"
# Bug report
**Debug paste link**:
http://hastebin.com/tuzifonama

**Description of the problem:**
The `/plot move` and `/plot copy` command are not working properly. Moving a plot to a different location will remove all the blocks, unclaim the origin plot (not change the plot border and only clear but not remove the plot sign), claim the new plot but not change the border, set plot sign or move t

[2016-03-28 13:04] MattBDev commented on #1014
Are entities copied? You mention they aren't moved but are they copied?

[2016-03-28 13:16] manuelgu commented on #1014
Neither copied nor moved

[2016-03-28 14:00] sandmonkey commented on #1009
[config.zip](https://github.com/IntellectualSites/PlotSquared/files/191865/config.zip)

[2016-03-28 14:27] manuelgu opened #1015 "Unable to reset custom home location to default home location"
# Bug report

**Description of the problem:**
Using `/plot sethome none` will not reset the home location of the plot to its default home location

**How to replicate**:
- Claim a plot
- Move to a different location
- `/plot sethome`
- `/plot sethome none`
- `/plot home`

[2016-03-28 14:46] sandmonkey opened #1017 "World edit doesn't support schematic file"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
http://pastebin.com/PSFZWJbj
**Description of the problem:**
http://goo.gl/pmMmxW
**How to replicate**:
Tried importing the schematic file using world edit which Plotsquared generated and result in this error.

Make sure you've completed the following steps (put an X between of brackets):
-

[2016-03-28 14:58] manuelgu commented on #1017
Please provide a valid `/plot debugpaste`.
How did you generate the schematic file?
Do you mind sharing the schematic file with us for further testing?

[2016-03-28 15:00] sandmonkey commented on #1017
i also tried importing on mcedit, returned an unhandled exception
http://pastebin.com/qYmmLnNB

[PlotSquared.zip](https://github.com/IntellectualSites/PlotSquared/files/191941/PlotSquared.zip)

[2016-03-28 15:02] MattBDev commented on #1017
PlotSquared does not support MCEdit 2 schematic files.

[2016-03-28 15:05] sandmonkey commented on #1017
Do you have any idea why world edit returned an error though?

[2016-03-28 15:05] MattBDev commented on #1015
have you tested this fix?

[2016-03-28 15:06] MattBDev commented on #1017
@sandmonkey I revised my comment. try regenerating the schematic. the data in the file is invalid.

[2016-03-28 15:07] manuelgu commented on #1017
@sandmonkey How did you generate the schematic?
I'm having no issues with `/plot schematic save`, moving the file to worldedit schematics folder and then loading `//schem load` and `//paste`.

[2016-03-28 15:08] manuelgu commented on #1015
Yes I have

[2016-03-28 15:10] sandmonkey commented on #1017
@MattBDev could you take my schematic file and regenerate plot.schematic for me? @manuelgu I recovered data after it was deleted last night and now it doesn't seem to be working. Please help me.

[2016-03-28 15:24] MattBDev commented on #1017
@sandmonkey I can't do that because I am very busy.

[2016-03-28 15:25] MattBDev commented on #1015
KK. I'll pull

[2016-03-28 15:25] #1015 closed

[2016-03-28 15:45] sandmonkey commented on #1017
@MattBDev Is there perhaps someone else who could help me with the problem I have?

[2016-03-28 16:19] MattBDev commented on #1017
@sandmonkey you can't generate the schematic again yourself?

[2016-03-28 19:27] dextonanderson commented on #736
It isn't an issue anymore, thanks.

[2016-03-28 19:27] #736 closed

[2016-03-28 21:18] manuelgu opened #1018 "IndexOutOfBounds Exception for trust & add command"
# Bug report

**Description of the problem:**
An `ArrayIndexOutOfBoundsException` is being thrown when entering `/plot trust` or `/plot add`.
[See stacktraces](http://hastebin.com/exolotobak.profile)

**How to replicate**:
- Enter either `/plot add` or `/plot trust` without any arguments

[2016-03-28 22:17] #1018 closed

[2016-03-29 02:27] MattBDev commented on #532
@EvilOlaf can you let me know if this was fixed or not?

[2016-03-29 02:40] MattBDev commented on #786
I am pretty sure this is fixed

[2016-03-29 02:40] #786 closed

[2016-03-29 02:41] MattBDev commented on #678
@boy0001 Still an active issue?

[2016-03-29 02:43] #820 closed

[2016-03-29 03:48] AnHonorableHobo opened #1020 "Lighting in Schematics Broken"
There is no bug info in console
[--Hastebin--](http://hastebin.com/fovodotoqa)

Issue: When i use a road schematic the lighting never transfers over (using lanterns and even tried glowstone) but they dont produce light unless you physically replace them).

Replicate: Just create a road with any object that makes light and use the commands to make it into a road for everything

Make sure you've com

[2016-03-29 04:43] augesrob opened #1021 "Trees wont grow in merged plots"
There is no bug info in console

**Debug paste link**:
http://hastebin.com/ilewoxabag

**Description of the problem:**

Players and OP owners can not grow trees on merged plots.
I works only in the new claim area but not the older one.
It works if the plot isn't merged at all.

**How to replicate**:

--(Auto merge is on)--

#Trees Grow

1. Claim a plot either /p claim or /p auto
2. Claim a few plo

[2016-03-29 04:43] augesrob commented on #1021
Update: #Chorus Flower - They are growing so please ignore this. Trees are not growing on merged plots still.

[2016-03-29 04:51] augesrob commented on #1020
This also occurs after world edit. Lighting will be glitched.

[2016-03-29 05:04] MattBDev commented on #1021
I can't replicate this. Please try limiting the plugins you are using to see if this is the cause of the issue.

[2016-03-29 05:06] #1013 closed

[2016-03-29 05:31] EvilOlaf commented on #532
I think so. However I am still on 3.2.26, so I don't know if this is the case in 3.3.x.

[2016-03-29 07:45] boy0001 commented on #678
Don't think so

[2016-03-29 07:45] #678 closed

[2016-03-29 07:54] manuelgu commented on #1014
Update: https://github.com/IntellectualSites/PlotSquared/commit/ef4438889b369d6c82658d71495845f995171081 fixed blocks not moving for `/plot move`, sign and plot border are still not set.

[2016-03-29 08:03] boy0001 commented on #1009
@MattBDev
config.yml is missing the PlotMe version. Is that normal for some versions?

[2016-03-29 08:12] boy0001 commented on #1009
@sandmonkey
Can you verify that your plotme database file exists?

[2016-03-29 08:48] sandmonkey commented on #1009
[plots.zip](https://github.com/IntellectualSites/PlotSquared/files/193118/plots.zip)

[2016-03-29 15:26] MattBDev commented on #1009
@boy0001 That's normal for versions I believe 1.5.2 plotme is the first version with the version tag.

[2016-03-29 15:27] MattBDev commented on #1021
@augesrob Have you been able to reproduce this without all those plugins?

[2016-03-29 15:32] augesrob commented on #1021
I havent removed any of them because i do use them all. Sorry.

[2016-03-29 15:33] MattBDev commented on #1021
@augesrob you can't whitelist the server and disable a few to test this in your plotworld? If not, setup a test server?

[2016-03-29 15:33] manuelgu commented on #1021
We don't expect you to remove plugins from the server you are running production. You could mirror your server and make it a test server whilst the main server can run..

[2016-03-29 15:34] MattBDev commented on #1017
@sandmonkey :point_left: *poke* anyone home

[2016-03-29 15:39] manuelgu commented on #1020
Would you mind enabling `random-light-updates` in the spigot.yml and test if this issue still occurs?

[2016-03-29 15:58] augesrob commented on #1021
@manuelgu Yes ill do this via portforward. Might take awhile to back it all up

[2016-03-29 16:04] augesrob commented on #1020
@manuelgu I turned this setting to true. Same issues.

https://i.gyazo.com/ae0e92e23d19b7011c0d03791edbc614.jpg

[2016-03-29 16:09] sandmonkey commented on #1017
@MattBDev How may I ask?

[2016-03-29 16:11] sandmonkey commented on #1009
@boy0001 @MattBDev What is the verdict?

[2016-03-29 16:11] MattBDev commented on #1017
@sandmonkey do you not know how you did it the first time?

[2016-03-29 16:17] sandmonkey commented on #1017
@MattBDev Well you see you the schematic i originally saved was done so using world edit in the plots server which i lost too, however you could be referring to the generated schematic by plotsquared which is corrupt unfortunately. It's a lose lose situation for me.

[2016-03-29 16:22] MattBDev commented on #1017
That's why you should be using getting a new schematic. You keep bringing up worldedit which really isn't relevant.

[2016-03-29 16:25] sandmonkey commented on #1020
I can say too i expeience this issue with the bridges template, the only reason why i still use glowstone.

[2016-03-29 16:35] sandmonkey commented on #1017
I know it's irrelevant to this section.. maybe i shouldn't complain here. But, i used schematics to build a bridge over the bridges template (because it looked appalling) and there onwards /plot debugregen to make the entire world better... it's just a lost alot of progress *sighs*

[2016-03-29 16:41] boy0001 commented on #1009
I'll test with your config/db in a sec

[2016-03-29 16:42] boy0001 commented on #1020
Spigot is meant to do the lighting for world generation, I already have an open ticket on the jira for that. I can add a relight command for the plots. Any idea how it gets messed up there?

[2016-03-29 17:07] sandmonkey commented on #1009
@boy0001 Thank you

[2016-03-29 17:38] MattBDev commented on #433
Assuming to be no longer relevant and a resolved issue.

[2016-03-29 17:38] #433 closed

[2016-03-29 17:40] MattBDev commented on #625
Since this has not received attention or a response, I will be closing this issue. If you are encountering the problem still then feel free to comment here to reopen or create a new issue.

[2016-03-29 17:40] #625 closed

[2016-03-29 17:42] MattBDev commented on #670
No response and links are now invalid. It is assumed that help is no longer needed. If help is still needed please comment or create a new ticket.

[2016-03-29 17:42] #670 closed

[2016-03-29 17:52] boy0001 commented on #1009
Converted fine for me:
[PlotSquared.zip](https://github.com/IntellectualSites/PlotSquared/files/193995/PlotSquared.zip)
Note: Since I am missing your playerdata files it will show unknown until the owner logs in for you.

[2016-03-29 17:55] boy0001 commented on #1009
@MattBDev
There's no plot height for the PlotMe config.yml, does the road height control both, or is the plot height not configurable?

[2016-03-29 18:08] boy0001 commented on #1017
Tested with PS 3.3.2, no issues exporting / downloading schematics. Those files you attached are corrupt (just 0s) and can't be recovered.

@MattBDev
PlotSquared can use mcedit schematics fine, it just skips tile entity info (sign text etc).

[2016-03-29 18:08] #1017 closed

[2016-03-29 18:18] MattBDev commented on #1017
@boy0001 I was referring to mcedit 2.0 schematics which use a different structure than the standard being used currently.

[2016-03-29 18:23] MattBDev commented on #1011
@Eyalthesolo Do you still need help? This issue will be closed if not replied to after awhile

[2016-03-30 01:45] #897 closed

[2016-03-30 02:20] boy0001 commented on #999
Cancelling the event doesn't stop the splash.

[2016-03-30 03:31] MattBDev commented on #999
@boy0001 No projectiles as far as I am aware have their animation canceled if the event is canceled. I tried with enderpearls.

[2016-03-31 03:45] HeyMan7 opened #1027 "Issue when removing/clearing/unclaiming plots"
**Debug paste link**:
http://hastebin.com/tibenubimu

**Description of the problem:**
I find that me (as the server owner) and my players, when clearing or unclaiming a plot, a huge hole appears in the middle of the plot. I am running the latest version according to /plots update
http://i.imgur.com/FcnPapJ.png

**How to replicate**:
I don't know how you would replicate this, but the hole appears e

[2016-03-31 04:38] #999 closed

[2016-03-31 04:38] #737 closed

[2016-03-31 09:11] manuelgu commented on #1027
You are running version `version: 3.3.0`. Please update to `3.3.2` and test again. https://www.spigotmc.org/resources/plotsquared.1177/update?update=79296

[2016-03-31 16:39] #1027 closed

[2016-03-31 16:41] MattBDev commented on #1021
Any update on this because I've been able to prove twice that this is an invalid claim

[2016-03-31 18:58] HeyMan7 commented on #1027
@manuelgu The issue still exists in 3.3.3. http://i.imgur.com/vKiQJv4.png

[2016-03-31 19:20] boy0001 commented on #1027
Don't use `/reload`, actually restart your server

[2016-04-01 05:38] HeyMan7 commented on #1027
Bug has been fixed with updated version.

[2016-04-01 15:51] #1011 closed

[2016-04-01 15:51] #872 closed

[2016-04-01 16:59] manuelgu commented on #1005
--> It doesnt work in 3.3.1 but it does work in 3.2.26

--> It works in 3.3.1 but it does not work in 3.2.26

Would you mind to elaborate a little bit more, your statements seem to stultify oneself.
Also, what message do you get when it fails?

[2016-04-01 17:11] Twi5TeD commented on #1005
[15:01:57 INFO]: F64_Rx issued server command: /plot auto
[15:01:57 ERROR]: null
org.bukkit.command.CommandException: Unhandled exception executing command 'plot' in plugin PlotSquared v3.3.2
at org.bukkit.command.PluginCommand.execute(PluginCommand.java:46) ~[prison.jar:git-Spigot-e4d4710-e1ebe52]
at org.bukkit.command.SimpleCommandMap.dispatch(SimpleCommandMap.java:141) ~[prison.jar:git-Spigot-e

[2016-04-01 17:17] manuelgu commented on #1005
Please update to [3.3.3](https://github.com/IntellectualSites/PlotSquared/releases/tag/v3.3.3) and see if it still occurs.

[2016-04-01 17:24] Twi5TeD commented on #1005
when i do plot auto on the newest version of plots the schematic doesn't paste
 if i go back  3.2.26 it works fine i tried 3.3.3 this morning still was the same

[2016-04-01 17:42] MattBDev commented on #1005
Generate a new error log using 3.3.3 so I can traceback the error in my IDE and find a fix

[2016-04-01 17:45] Twi5TeD commented on #1005
when i get on pc ill re add the new one and try

[2016-04-01 18:00] Twi5TeD commented on #1005
latest update 3.3.3

when doing plot auto

/plot auto
[17:58:27 ERROR]: null
org.bukkit.command.CommandException: Unhandled exception executing command 'plot' in plugin PlotSquared v3.3.3
        at org.bukkit.command.PluginCommand.execute(PluginCommand.java:47) ~[patched.jar:git-TacoSpigot-"c80c1e5"]
        at org.bukkit.command.SimpleCommandMap.dispatch(SimpleCommandMap.java:143) ~[patched.jar:

[2016-04-02 17:48] benjozork opened #1028 "Plot clear not working properly"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
http://hastebin.com/icaluceros
**Description of the problem:**
When I do /plot clear/reset/dispose, the plot is cleared by about three quarters and shows no owner, but when I try to /plot claim it it says that it is already owned and says that I own the plot.
**How to replicate**:
Get a plot

[2016-04-02 17:59] darkdragonxxxx opened #1029 "PlayMoveEvent"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
When I try and do the command it says there's an internal problem.
**Description of the problem:**
I get this error in console, not sure what's it's doing.
http://pastebin.com/vesDYY2f

**How to replicate**:

Make sure you've completed the following steps (put an X between of brackets):
- []

[2016-04-02 18:09] manuelgu commented on #1029
Please provide a `/plot debugpaste`.

[2016-04-02 18:13] Johandrex opened #1030 "Server Crash"
Debug paste link: http://hastebin.com/hunuquhuho

The server is crashing when a player confirms that they want their plot cleared or deleted their plots.

Example crash log: http://hastebin.com/upinavihez.avrasm

Version: 3.3.3 & 3.3.2

Spigot version: git-Spigot-a1b8bf3-f01861f

[2016-04-02 18:17] boy0001 commented on #1030
Spigot bug. You can also replicate this issue using WorldEdit's regen: https://hub.spigotmc.org/jira/browse/SPIGOT-2118

Added a temporary workaround in a recent dev build:
ci.xephi.fr/job/PlotSquared/

[2016-04-02 18:17] #1030 closed

[2016-04-02 18:25] darkdragonxxxx commented on #1029
As I said, The plugins broken and doesn't say anything.

[2016-04-02 19:20] manuelgu commented on #1029
Cannot reproduce. Can you try to setup a second server and only run *the same* version of PlotSquared and see if you can replicate? Just drag the jar file over.

[2016-04-02 19:23] boy0001 commented on #1029
PlotSquared failed to start. Check your full startup (post it here if you can't see anything). Things to check:
 - Database / plugin is configured correctly
 - Plugin compatibility

[2016-04-02 19:59] benjozork commented on #1028
There is also a 'Cannot cast long to Collection' casting error, i'll post it later

[2016-04-02 21:15] benjozork commented on #1028
http://hastebin.com/oqenabijiw.avrasm

[2016-04-02 22:01] benjozork commented on #1028
Fixed, was due to an outdated plugin (3.3.2)

[2016-04-02 22:01] #1028 closed

[2016-04-02 23:00] darkdragonxxxx commented on #1029
And this happened
**http://pastebin.com/ChS0MUL2**

[2016-04-02 23:43] manuelgu commented on #1029
The error message hints at [PlotArea:218](https://github.com/IntellectualSites/PlotSquared/blob/master/Core/src/main/java/com/intellectualcrafters/plot/object/PlotArea.java#L218). This is where the biome gets loaded.

Could you provide your `config/settings.yml` so we can troubleshoot a little bit more?

[2016-04-02 23:54] darkdragonxxxx commented on #1029
http://pastebin.com/c58CHXKh

[2016-04-03 04:45] darkdragonxxxx opened #1031 "InvenroyCloseEvent"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
I can't do /debug because I can't do any commands.

**Description of the problem:**
http://pastebin.com/QYrLq1gV
So when ever I do /plot it says that in console and this in chat:
"An Internal error occurred while attempting to perform this command"
**How to replicate**:

Make sure you've com

[2016-04-03 04:50] darkdragonxxxx commented on #1031
Works fine on my other server so I'm not sure what's happening.

[2016-04-03 05:30] darkdragonxxxx opened #1032 "PlayerCommandPreprocessEvent"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
Doesnt even let me do that command
**Description of the problem:**
Here:
http://pastebin.com/z7KG1QAB
Works fine on test server.
**How to replicate**:

Make sure you've completed the following steps (put an X between of brackets):
- [] Include `/plot debugpaste`
- [] Made sure there aren't d

[2016-04-03 05:37] boy0001 commented on #1029
@darkdragonxxxx

Want to attach that here?

[2016-04-03 05:38] boy0001 commented on #1031
duplicate of #1029

[2016-04-03 05:38] #1031 closed

[2016-04-03 05:38] boy0001 commented on #1032
duplicate of #1029

[2016-04-03 05:38] #1032 closed

[2016-04-03 05:39] darkdragonxxxx opened #1033 "All posts together (ERRORS)"
**Description of the problem:**
When player joins: http://pastebin.com/PCzc9hBX
When player does command: http://pastebin.com/BpemnybT
Message In-Game: "An internal error occurred while attempting to perform this command"
- That stops me from doing a debug.

[2016-04-03 05:40] darkdragonxxxx commented on #1029
Might want to close this post and the second one I did, I made one just for all the errors I got.

[2016-04-03 05:40] #1029 closed

[2016-04-03 05:42] darkdragonxxxx commented on #1033
Fixed! Sorry, It was my jar.

[2016-04-03 05:42] #1033 closed

[2016-04-03 07:28] PhanaticD opened #1034 "some errors on clearing"
http://pastebin.com/w9H8hmK6

[2016-04-03 12:28] KsenMih opened #1035 "/plot auto : Schematic is not loaded + NPE"
**Debug paste link**:
I've got an error with _/plot debugpaste_ : http://pastebin.com/raw/pp2Bu9dF

**Description of the problem:**
When I use _/plot auto_, the schematic doesn't load.
When I use _/plot claim_, the schematic is loaded correctly.

**How to replicate**:

1. /plot auto with the "onclaim schematic feature" enabled.

**Versions**
PlotSquared version 3.4.0-SNAPSHOT
CraftBukkit version g

[2016-04-03 12:57] BackSlashM opened #1036 "Plot un-claimable"
# Bug report template (Follow this template unless you are making a feature request.)
http://hastebin.com/efizirapav

The plot is unclaimable, and cant be cleared or deleted

Try to claim the plot and it doesn't claim, just gives this error in the console:
http://hastebin.com/goneluqehe.avrasm

Make sure you've completed the following steps (put an X between of brackets):
- [x] Include `/plot debu

[2016-04-03 13:04] boy0001 commented on #1036
Update the plugin

[2016-04-03 13:04] #1036 closed

[2016-04-03 18:38] manuelgu opened #1037 "Comma-separated list of players to handle"
It would be great if you were able to handle multiple people in a plot command (add, trust, remove, deny, undeny, kick, ..) just like
`/plot add SomeGuy,SomeOtherGuy`

Something similar is also [implemented in BanManager](https://github.com/BanManagement/BanManager/blob/master/src/main/java/me/confuser/banmanager/util/CommandUtils.java#L32-L43) where you can handle multiple people at the same time

[2016-04-03 23:04] VinexAx789 opened #1039 "Players interacting with everything on other player's plots."
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**: http://hastebin.com/hanicoxuwe

**Description of the problem:** Players are allowed to access other players chests, beacons, furnaces they can use everything.

**How to replicate**: It's not world guard or anything to do with the other plugins.

Make sure you've completed the following steps

[2016-04-03 23:42] manuelgu commented on #1039
Intended behavior, isn't it?
You can change that using the `use` flag. [Wiki](https://github.com/IntellectualSites/PlotSquared/wiki/Flag:-use)

[2016-04-04 01:08] VinexAx789 commented on #1039
No, it's not intended. I'll try the use flag.

[2016-04-04 01:21] VinexAx789 commented on #1039
Nvm thanks man. Anyway players can open doors? On other's plots.

[2016-04-04 01:47] VinexAx789 commented on #1039
Nvm. I still need help.

[2016-04-04 01:56] VinexAx789 commented on #1039
Everything works just players can't sell to the other players sell signs.

[2016-04-04 02:58] boy0001 commented on #1039
Assumed to be fixed.

[2016-04-04 02:58] #1039 closed

[2016-04-04 02:58] VinexAx789 commented on #1039
I got a question

[2016-04-04 03:00] VinexAx789 opened #1040 "Can't role back Plot Debug Road Schematic"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
http://hastebin.com/foxumuyato
**Description of the problem:** I did what the instructions told me and I can't role back the roads without resetting the plots people will be pissed if I do that.

**How to replicate**:

Make sure you've completed the following steps (put an X between of brack

[2016-04-04 03:03] boy0001 commented on #1039
Ask

[2016-04-04 03:03] VinexAx789 commented on #1039
My roads I was messing with them and though the debug was a debug but now I can't reset them back.

[2016-04-04 03:04] boy0001 commented on #1039
There's no undo command.

[2016-04-04 03:06] boy0001 commented on #1040
If you want to change the schematic back you can delete the file in `plugins/PlotSquared/schematics/<world>/GEN_ROAD_SCH`, then use `/plot reload`

Note, this will not change existing road, you either need to redo debugroadregen, do a world trim, or a plot regenallroads

[2016-04-04 03:06] #1040 closed

[2016-04-04 03:07] VinexAx789 commented on #1039
So how will I fix this please don't tell me I have to reset the plots if I do I will lose everyone on my server.

[2016-04-04 03:11] VinexAx789 commented on #1040
sideroad or intersection what file is it?

[2016-04-04 03:13] boy0001 commented on #1040
Both

[2016-04-04 03:14] VinexAx789 commented on #1040
Ok done. Now should I do /plot regenallroads PlotsNew ?

[2016-04-04 03:16] boy0001 commented on #1040
You'll need to set a schematic if you want to use the regenallroads.

[2016-04-04 03:16] VinexAx789 commented on #1040
Ok and it should be the default one right?

[2016-04-04 03:17] boy0001 commented on #1040
Yes

[2016-04-04 03:18] VinexAx789 commented on #1040
Ok it keeps saying this
03.04 23:17:47 [Server] INFO If no schematic is set, the following will not do anything
03.04 23:17:47 [Server] INFO - To set a schematic, stand in a plot and use /plot createroadschematic
03.04 23:17:47 [Server] INFO Potential chunks to update: 284672
03.04 23:17:47 [Server] INFO Estimated time: 278 seconds
03.04 23:17:47 [Server] INFO Cannot schedule mass schematic update

[2016-04-04 03:21] VinexAx789 commented on #1040
Nvm, I got it rolling every time I tried doing this it hasn't worked so hopefully it does.

[2016-04-04 07:57] VoxaDub opened #1041 "Players getting unadded from plots if they change their username"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**: http://hastebin.com/jogazoqane

**Description of the problem:**  people noticed some of the people they added or trusted got removed and replaced with ''Unknown'' and now if they change their IGNs then they lose their own plot completely

**How to replicate**: own a plot and add/trust people

[2016-04-04 11:11] astrophylite opened #1043 "Doesn't let me come out of my plot"
**Description of the problem:** I try to walk out onto the road but it teleports me to inside the plot.

**How to replicate**: Delete all configuration files and create a new plot world and try to walk on to the road.

Make sure you've completed the following steps (put an X between of brackets):
- [] Include `/plot debugpaste` - "That is not a valid subcommand, did you mean: /plot paste"
- [x] Ma

[2016-04-04 11:41] manuelgu commented on #1043
Cannot replicate. Which version of PlotSquared are you using? Any errors in console?

[2016-04-04 13:05] astrophylite commented on #1043
I am using the 1.7.10 version (v.2.3.3 - upgrading it now) and no.
I will get back to you if upgrading to the latest 1.7.10 version works ;3

[2016-04-04 13:07] astrophylite commented on #1043
Yes, that fixed the issue - I didn't realize I was using such an old version.

[2016-04-04 13:07] #1043 closed

[2016-04-04 16:10] MattBDev commented on #1021
Closing since I asked for an update without a reply and I haven't been able to reproduce on SEVERAL difference instances.

[2016-04-04 16:10] #1021 closed

[2016-04-04 16:11] MattBDev commented on #1035
are you using the builds from the master branch or the 3.4.0 branch?

[2016-04-04 16:13] MattBDev commented on #1041
What Minecraft version are you using? it is coming up as 0.0.0 in your debugpaste.

[2016-04-04 17:15] boy0001 commented on #1041
online_mode: com.plotsquared.bukkit.uuid.OfflineUUIDWrapper@5a642f72;false
Server is in offline mode.

[2016-04-04 17:29] KsenMih commented on #1035
Sorry, I'm using the build #109 from http://ci.athion.net/job/PlotSquared/

I've also tested with the latest build, and previously, with the version available on Spigot.

[2016-04-04 19:16] wasder commented on #1035
Same here. Using `PlotSquared (Version: 3.4.0)` and `CraftBukkit version git-Spigot-d20369f-7fc5cd8 (MC: 1.9) (Implementing API version 1.9-R0.1-SNAPSHOT)`

[2016-04-04 19:22] piesio98 opened #1044 "Error - execute command"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
http://hastebin.com/sepebayisa

**Description of the problem:**

When i type command for expample /p add , in the console and in the game i see an error
(without selecting a player). When i select a player, command works fine. I want to see something like this when i don't type player:

Usag

[2016-04-04 19:30] manuelgu commented on #1044
Please update to plugin to version 3.3.3 and see if it still occurs.

[2016-04-04 21:50] VoxaDub commented on #1041
I am on 1.8.8 and the server is not in offline mode.
http://i.imgur.com/rOqelVR.png

[2016-04-04 22:33] manuelgu commented on #1041
@VoxaDub would you mind sharing a full startup log of your server?

[2016-04-04 23:10] boy0001 commented on #1035
Can confirm error. Will fix soon.

[2016-04-04 23:31] MattBDev commented on #1044
Fixed already. not sure when it was fixed but when testing 3.4.0 it was fixed.

[2016-04-04 23:31] #1044 closed

[2016-04-04 23:33] MattBDev commented on #1041
@VoxaDub You are 2 versions behind. Update to [3.3.3](https://github.com/IntellectualSites/PlotSquared/releases/download/v3.3.3/PlotSquared-Bukkit.jar)

[2016-04-05 01:21] boy0001 commented on #1009
Assuming fixed and that it was a version mismatch issue.

[2016-04-05 01:21] #1009 closed

[2016-04-05 01:24] boy0001 commented on #1035
Fixed

[2016-04-05 01:24] #1035 closed

[2016-04-05 01:26] boy0001 commented on #1041
Wouldn't be fixed by updating. @VoxaDub Are you using bungee by any chance. Do you have ip_forward enabled?

[2016-04-05 02:56] VoxaDub commented on #1041
I have updated to the latest one here is the latest debugpaste
http://hastebin.com/izifilixog

and its not on bungee

[2016-04-05 07:12] KsenMih commented on #1035
Thanks a lot ! Good job.

[2016-04-05 07:56] boy0001 commented on #1005
Duplicate / Fixed

[2016-04-05 07:56] #1005 closed

[2016-04-05 09:53] boy0001 commented on #1041
@VoxaDub

[2016-04-05 11:53] Twi5TeD commented on #1005
is there a link to a fixed  version?

[2016-04-05 12:40] manuelgu commented on #1014
This was mostly fixed in recent commits. Tested with latest version of PlotSquared (https://github.com/IntellectualSites/PlotSquared/commit/fab60a0d539d76e310ec60014d962dd2ab199997). The only issue that occurs is that moved/swapped/copied entities only show up once you leave the area and re-enter it again.

[2016-04-05 12:41] manuelgu commented on #1005
@Twi5TeD http://ci.xephi.fr/job/PlotSquared/

[2016-04-05 12:46] Twi5TeD commented on #1005
https://gyazo.com/0b6ee289dc330d5ef3d50ff808b44764 still getting the same message
debug http://hastebin.com/uxoyibeqob

[2016-04-05 12:46] boy0001 commented on #1014
That's a separate issue. Happens with `/plot set floor` as well. Need to also send packets for the entities but I'm too lazy.

[2016-04-05 12:46] #1014 closed

[2016-04-05 12:46] #998 closed

[2016-04-05 12:47] boy0001 commented on #1005
file: PlotWorld
      on_claim: true
      specify_on_claim: false
      schematics: []

Can you try specifying the whole filename? e.g. PlotWorld.schematic

[2016-04-05 12:49] Twi5TeD commented on #1005
schematic:
      file: PlotWorld
      on_claim: true
      specify_on_claim: false
      schematics: []

https://gyazo.com/bdb9e8aea9b6c9ab940817babf3ce94f

[2016-04-05 12:50] manuelgu commented on #1005
[code]
Try this

[2016-04-05 12:51] Twi5TeD commented on #1005
didnt work same message

[2016-04-05 12:52] manuelgu commented on #1005
@Twi5TeD How do you reload the plugin?

[2016-04-05 12:53] Twi5TeD commented on #1005
plot reload

[2016-04-05 12:54] Twi5TeD commented on #1005
also tried restarting the server still the same

[2016-04-05 12:57] boy0001 commented on #1005
[code]
Change to
[code]

[2016-04-05 12:58] Twi5TeD commented on #1005
thanks that worked

[2016-04-05 23:11] #852 closed

[2016-04-05 23:15] MattBDev commented on #1001
What you are asking for seems like it can be accomplished already through listening to events. I am closing this. Feel free to comment and elaborate on this if you aren't satisfied.

[2016-04-05 23:15] #1001 closed

[2016-04-05 23:45] MattBDev commented on #1034
Has this happened on multiple occasions or just this once? If it has only happened once I think we can just let it go, treat it as a one time thing, and move forward.

[2016-04-06 01:38] PhanaticD commented on #1034
the skulls was quite often, the other error once

[2016-04-06 05:57] boy0001 commented on #1034
fastmode clearing.

[2016-04-06 05:58] boy0001 commented on #1001
Sorry, this was readded a while ago.
ExpireManager.getTimestamp(UUID uuid)

[2016-04-08 16:00] MattBDev commented on #801
Can someone here please test with 3.3.3?

[2016-04-08 16:13] manuelgu commented on #801
Running in production and have not encountered any problems. Then again, I only have a couple plots merged.

[2016-04-08 19:22] MonkvanNederland commented on #801
Running tests for a couple of days now, all is going well. Tomorrow we're releasing it again for our players. I will post any errors about the merging/unclaiming if there are any. If i do not post anu message within 7 days, then we had no errors.

[2016-04-08 22:17] dgibbs3196 opened #1046 "Well someing not right here"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
http://pastebin.com/VhYUdwPZ
**Description of the problem:**
well i do /mv create plots normal -g PlotSquared and i get "FAIL" then i restatrt the server and get this here is my setup...
**How to replicate**:
You can use my setup to do testing! https://db.tt/DmPdIqh4

HERE IS MY VIRUS SCAN T

[2016-04-08 22:49] RoboMWM commented on #1046
So, you also didn't check any of the stuff up there in the template. Anyways, from your log:

Sounds like your world is corrupt perhaps?

You also should probably update spigot to 1.9.2

[2016-04-09 02:50] MattBDev commented on #1046
You are 200 Spigot versions behind the latest patch and are running an outdated Multiverse. Of course there is going to be issues!

[2016-04-09 02:50] #1046 closed

[2016-04-09 09:15] EvilOlaf commented on #532
Tried with 3.3.3 a couple of times and did not happen again. So as far for now I guess this is fixed.

[2016-04-09 09:15] #532 closed

[2016-04-09 10:13] PhanaticD opened #1047 "error after server start"
This error pops up in console couple times after the server starts and everyone is joining like crazy, after a minute or so I do not see the error at all anymore

http://pastebin.com/4NX38ikW

using version off github from april 7

[2016-04-09 12:49] #1047 closed

[2016-04-09 16:09] dgibbs3196 commented on #1046
I just got that Multiverse from spigot and I just build that spigot build 4 days ago

[2016-04-09 16:10] EvilOlaf commented on #1046
This is way outdated. Grab a new MV build here: http://ci.onarandombox.com/job/Multiverse-Core/

[2016-04-09 16:13] dgibbs3196 commented on #1046
Thanks I did not know of that place to download Multiverse and Ill build a new spigot build..

[2016-04-10 13:19] MCAlagaesia opened #1048 "Can't pass ChunkLoad and ChunkUnload events to PlotSquared"
"/plot debugpaste" can be found at [http://hastebin.com/inuraqifep](http://hastebin.com/inuraqifep)

**Issue:**
Bit of a strange issue that happened out of the blue. The server is crashing on join (of any player). It happens within the first few seconds.

It seems to be related to: **10.04 07:02:39 [Server] ERROR Could not pass event ChunkLoadEvent to PlotSquared v3.3.3**

The issue first occured

[2016-04-11 01:12] paul-palmer opened #1049 "Plot size changing during reload not honored on server restart"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**: The logs show "HTTP response code: 503 for URL: http://hastebin.com/documents"

**Description of the problem:**
When I created my server I set the plot size to 90 blocks. At some point, the plot size changed to 128 blocks. We can change settings.yml to set the plot size back to 90 and perfor

[2016-04-11 18:34] manuelgu opened #1050 "`use` flag not respecting pressure plates"
# Bug report
**Debug paste link**: http://hastebin.com/iyifativoz

**Description of the problem:**
The `use` flag does not properly respect pressure plates. You are able to activate both types, regardless of what is set to be usable in the `use` flag. It works fine for other tested materials, buttons in my case.

**How to replicate**:
- Set flag `use:70`
- Place down two pressure plates (wooden, s

[2016-04-12 16:33] boy0001 commented on #1049
Check your multiverse configuration, it's creating the world with the wrong configuration.

[2016-04-12 16:33] #1049 closed

[2016-04-12 16:35] boy0001 commented on #1048
You have corrupt chunks, PlotSquared just happens to be the first plugin to try to do anything with the chunk. If you disable the PlotSquared chunk processor it will probably delay crashing until you try to build etc in the chunk.

I haven't had much experience fixing corrupt chunks before, so here's this:
https://www.spigotmc.org/wiki/using-the-minecraft-region-fixer/

[2016-04-12 16:35] #1048 closed

[2016-04-12 16:42] #1050 closed

[2016-04-12 16:43] boy0001 commented on #1041
Workaround in latest commit.
@VoxaDub
Can you either provide the full startup log or your server jar?

[2016-04-12 17:58] paul-palmer commented on #1049
Thank you for the feedback.

We don't use multiverse, but your feedback pointed us in the correct direction. Our world configuration was in bukkit.yml, where the size was indeed set to 128 (nobody recalls when this happened, but it had to have been a change on our part).

[2016-04-13 05:03] CullanP opened #1051 "Remove armor from armor stands in other plots"
Description of the problem: We had an issue where players could steal armor off of armor stands on other plots and then I checked the github and didn't see the event "PlayerArmorStandManipulateEvent"

How to replicate**: Right click armor stands with armor on them in other plots that you don't own

[2016-04-13 07:20] TNTUP opened #1052 "Issue with PlotSquared w/ AcidIsland&ASkyBlock"
**Debug paste link**:
http://hastebin.com/xererucaya

**Description of the problem:**
I've found an incompatibility with [USER=16926]@Tastybento[/USER]'s plugins such as ASkyBlock and AcidIsland. Without P2, his plugins works fine. With P2, its triggering something weird which causes new player join with a new inventory/location. Removing P2 fixes it.

BUT! This is backwards, redoing the same step

[2016-04-13 20:11] wasder commented on #1035
Still having this issue. Using the latest build.
http://pastebin.com/raw/ZehKK6GE

[2016-04-13 21:32] Darthlegos opened #1053 "Feature request/Question: deleting plots"
I want to have all plots in a world unclaimed. How can I do this? If there is not a way, please add it.

[2016-04-13 23:34] VoxaDub commented on #1041
boy0001 I have emailed you the logs and server jar.
and i have updated to the latest version and now /plot unclaim is showing as though its not a command...?

[2016-04-14 00:51] MattBDev commented on #1053
This is a basic plotsquared command that can be found in the wiki. It has been around for awhile... [Use the purge command](https://github.com/IntellectualSites/PlotSquared/wiki/Commands#purge)

[2016-04-14 00:51] #1053 closed

[2016-04-14 06:18] boy0001 commented on #1041
Yeah, it's not.
Use one of the following
/plot delete
/plot setowner none
/plot purge id=<id> world=<world>

[2016-04-14 06:38] VoxaDub commented on #1041
Why on earth would you remove the command...?
Everyone uses /plot unclaim....

[2016-04-14 17:32] wilsondc15 opened #1054 "Feature Request: Individual Permission For /plot debugroadregen"
It would really help out a lot if there were an individual permission for /plot debugroadregen because I do not want my Mods to have Admin permissions, I just want them to be able to use that command when I, the owner, am not online.

When I run the PermissionsEx permission debug while running that command, it only checks for "*" the OP permission.

[2016-04-14 18:40] MattBDev commented on #1054
The permission is "plots.debugroadregen"

[2016-04-14 18:40] #1054 closed

[2016-04-15 05:19] CatMe0w opened #1055 ""/plot setup" issue"
**Debug paste link**:
http://hastebin.com/agahadegas

**Description of the problem:**
/plot setup cannot work normally
http://pastebin.com/9hqWCzj9

**How to replicate**:
Use /plot setup command and set the plot height. Enter "/p setup 64", PlotSquared will start generate a new world named "64".

Make sure you've completed the following steps (put an X between of brackets):
- [x] Include `/plot de

[2016-04-15 06:05] MattBDev commented on #1055
@CatMe0w You are two versions behind. The current version is 3.3.3

[2016-04-15 09:13] CatMe0w commented on #1055
Oh no I was wrong, PlotSquared didn't inform me to update plugin. This issue is no longer exist in 3.3.3 now. Sorry.

[2016-04-15 09:13] #1055 closed

[2016-04-15 19:38] boy0001 opened #1056 "Multiple expiry tasks"
@AeSix
Would be useful to allow for multiple expiry conditions i.e. copy the block in the config to create a new set of conditions.

If a plot meets any of the conditions it is cleared.

[2016-04-15 19:43] AeSix commented on #1056
This sounds like a wonderful idea! :D

[2016-04-16 03:31] MattBDev commented on #1056
@AeSix Then why not click the react button to make it happen faster ;)

[2016-04-16 05:51] TNTUP commented on #1052
Hey guys, I haven't got an update on this ticket, but I've did a video to show the issue (I did on a fresh install aswell!) Here's the link> https://www.youtube.com/watch?v=WUNY3yuGOlw (The video can look blurry, its processing at this time of writing)

Steps to reproduce:

1.Fresh install (Get Spigot or PaperSpigot)
2.Download Multiverse-Core, Vault, PlotSquared, AcidIsland and ASkyblock
3. Start

[2016-04-16 06:52] jessefjxm opened #1057 "Lava and water left on the road when generating augmented world"
Spigot version: 1.8.7
PlotSquared version: 3.3.3

When generating an augmented road type world, everthing's work well except lava and water will float in the air, if they used to be storaged in stones. This problem will occured every time I generated this type of world.

I used following commands in game:
plot setup
plot setup PlotSquared
plot setup AUGMENTED
plot setup ROAD
plot setup 64
plot set

[2016-04-16 09:59] Vinc0682 opened #1058 "Player can't buy plots buy but lose their money"
**Debug paste link**:
http://hastebin.com/cuvegitoge

**Description of the problem:**
When someone tries to buy a plot, their money get's withdrawed, but
they got no plot :disappointed:

**How to replicate**:
See above

[2016-04-16 10:06] manuelgu commented on #1058
Please update PlotSquared to the [latest version](https://github.com/IntellectualSites/PlotSquared/releases/tag/v3.3.3) and create the `/plot debugpaste` immediately after someone tried to buy plot.

[2016-04-16 10:28] Vinc0682 commented on #1058
Thanks, it seems to be working now, the misterious thing is that i ran /ps update which told me that no updates are available.

[2016-04-17 01:07] VoxaDub opened #1059 "Re-Add /plot unclaim command"
This is not a bug, more of a request.
I'm not sure why this command was removed or what need there would be to remove it, but its what me and all my players are used to and have used since the start of this plugin.
Please add the command back its only causing more headache and confusion for me and my servers its extremely annoying to have to deal with.

[2016-04-17 06:14] darknightcore commented on #1056
It is also usefull to configure the time before a plot gets cleared, for each world.
e.g. auto clear:
world: 30 days
world_build: no auto clear

[2016-04-17 08:29] QUIQUELHAPPY commented on #1059
agree

[2016-04-17 08:33] QUIQUELHAPPY opened #1060 "Creepers Exploding On Plots Outside"
When somebody walk into another plot where there are creepers, the user that came into the plot, can explode them.

This completly brakes the protection of the plot!
Creepers also explode on a plot if you're the owner.

It's possible to block other players from exploding creepers on plots outside?

-Sorry for my english, I'm spanish.

[2016-04-17 11:24] jaboy commented on #1059
i think the reason for it being removed, is because many did not understand how it actually worked, and what the consequences could be from using it

the unclaim command only deletes all plot infomation (owner, trusted, flags, etc) it does not clean up the plot so it is ready for the next user.

What would be the consequences of this:
Say i was a griefer, i claimed a plot, and made a giant penis o

[2016-04-17 20:56] JugadorNinja opened #1061 "servers with plotsquared drops tps"
https://timings.spigotmc.org/?url=15904466

[2016-04-17 21:03] boy0001 commented on #1061
You have too many tile entities. Several things you could do:
 - switch to paperspigot and optimize your server configuration
 - set stricter blockstate limits for the PlotSquared chunk processor

here's an alright guide:
https://www.spigotmc.org/threads/guide-optimizing-spigot-remove-lag-fix-tps-improve-performance.21726/
download paperspigot:
https://tcpr.ca/downloads/paperspigot

[2016-04-17 21:03] #1061 closed

[2016-04-17 21:05] boy0001 commented on #1059
Use `/plot delete` or `/plot setowner none`
You can set an alias in either the bukkit or PlotSquared commands.yml

[2016-04-17 21:23] VoxaDub commented on #1059
The entire point of this command was so people could unclaim a plot and someone else be able to claim it. Players often times sell their plots to other players and now that this has been removed there is no way for this to be possible. @jaboy Your reasoning is pretty dumb, not once in 3 years of running servers has that EVER been a problem.

[2016-04-17 21:26] boy0001 commented on #1059
`/plot set price <value>`
`/plot buy`
`/plot setowner <other player>`
?

[2016-04-17 21:31] VoxaDub commented on #1059
/plot set owner
is an admin command for a reason
the entire point was so they could do this themself again, I dont understand why you remove a heavily used command like this it was not affecting performance and makes no sense to me.
All of my players are constantly harassing me why it was removed.

[2016-04-17 21:38] boy0001 commented on #1059
No, `/plot unclaim` was an admin command, setowner is not.

[2016-04-17 21:39] VoxaDub commented on #1059
what was the reason it was removed?

[2016-04-17 21:40] boy0001 commented on #1059
Redundant, and people were using it in place of `/plot delete` and then complaining that it didn't reset the terrain.

[2016-04-17 21:41] VoxaDub commented on #1059
Why on earth would you remove it then? People still use it

[2016-04-17 21:41] VoxaDub commented on #1059
or used it....

[2016-04-17 21:42] VoxaDub commented on #1059
Seems pretty ridiculous you'd remove it just because people complain about that.
Other people still were using it with no problems, who actually read what it does...

[2016-04-17 21:43] boy0001 commented on #1059
Even you are using it incorrectly. If you want people to trade plots, use `/plot setowner`. It may have not caused issues for you, but using unclaim will always have that  risk, and is an extra step anyway.

[2016-04-17 21:44] VoxaDub commented on #1059
Its not the same command, nor does the same thing.

[2016-04-17 21:45] VoxaDub commented on #1059
And over the entirety of using this plugin since it started, never once have I had a problem from someone doing /plot unclaim

[2016-04-17 22:27] boy0001 commented on #1059
The way you explain it

How is that not possible with:

/plot buy
or
/plot setowner <other player>
?

[2016-04-17 22:41] VoxaDub commented on #1059
I never said it wasnt possible, but everyone is already used to using /plot unclaim
I dont understand why you care so much about removing a command a few people complained about because they were too dumb to read what it does.
It really bugs me that you just remove highly used commands like this and it really fucks with me and my players, because you change all the shit that everyone is used to us

[2016-04-18 09:30] manuelgu commented on #1059
@VoxaDub Why are you being so rude about this?

Why don't you read the docs then to see how to properly sell plots?

It is just a logical thing that at some point this will happen.

It is not the same command, but it does the same thing. `/plot setowner none` leaves the plot itself untouched, just sets the owner to none so it is a claimable plot again.

But the majority of people was using it inco

[2016-04-18 14:01] EvilOlaf commented on #1059
Actually I can understand both sides. I think @VoxaDub is right that this should be an essential command (to be used as admin only in theory however). There might be rare cases where plots need to be unclaimed or even depending on their concept of the server that this is needed. As for myself I had no need for it but I would wonder too if that would not work anymore. Did not test though.

On the o

[2016-04-18 23:07] Maxetto opened #1062 "API missing setPermission"
Hello,
since [THIS](https://github.com/IntellectualSites/PlotSquared/commit/bb4700aa5ae5c6cba3a4b145b31fc84466cefcc3) commit, you have removed any possibility (at least I think) to set permissions from API/Scripts.

As result, [THIS](https://github.com/IntellectualSites/PlotSquared/wiki/Allowing-a-player-to-claim-more-plots) Script, which I was using, doesn't work anymore.

I'd like some infos (an

[2016-04-19 05:32] #1062 closed

[2016-04-19 10:24] Block-Build commented on #1059
@manuelgu you say:

First time i think this is wrong because e.g. in Plugin PlotMe ````"/p setowner"```` is an admin command and ````"/p dispose"```` a user command (/p dispose from PlotMe ist the same as /p unclaim what @VoxaDub discribes)

Maybe @VoxaDub thinks the same way as i? But now i understand what you mean, ````"/p setowner"```` is a command for the owner of a Plot, and he can decide to

[2016-04-19 10:26] Block-Build commented on #1003
👍

[2016-04-19 10:33] Block-Build commented on #925
/p unmerge
/p unmerge all

If the developers have to much time, they could add the direction variable too.
e.g. you Claim 100*101 Plots but you only want 100*100 you can stand on one Plot and do:
/p unmerge <north;west,east,south>

Thanks! :)

[2016-04-19 10:38] Block-Build opened #1063 "Broken signs on megre / unmerge"
1.
If i merge Plots the Ownersign of the Plot Shows nothing.
If i unmerge thies Plots i get the same Problem, the signs are empty

2.
If i Claim a few Plots e.g. /p Auto 3,3
Some Signs are in the border of the megaplot (a sign instead of stone)

- [X] Made sure there aren't duplicates of this report [(Use Search)](https://github.com/IntellectualSites/PlotSquared/issues)
- [X] Made sure you're usin

[2016-04-19 10:39] VoxaDub commented on #1059
@EvilOlaf Ok so you're telling me that the dev removes a command to replace it with a different one. If he hates this command so much why does he not make /plot unclaim do the same for /plot set owner none
I dont know how to setup alias's in the commands.yml

[2016-04-19 10:43] VoxaDub commented on #1059
@manuelgu Stating facts is not being rude. If people are too dumb to read the instructions on the command and then complain about it, that should not be taken in to account by the dev to remove it because people like me who actually know what the command does use it, along with my players, and have absolutely no issues with it. Now I'm being punished because these dumb people have for whatever rea

[2016-04-19 10:44] VoxaDub commented on #1059
@manuelgu Not interested in 'selling plots'

[2016-04-19 10:49] VoxaDub commented on #1059
@manuelgu The fact that for some reason he changed the command is confusing. If /plot setowner none does the same thing why would he not just change /plot unclaim to do exactly the same thing?

[2016-04-19 11:10] Block-Build opened #1064 "Expire of plots"
I have a question about the plot expiry.

Is there an option, which overwrites the oldest plots until a given amount of plots is given away?

For example: 10.000 plots are set. By the time all of these plots are given away, the next player using ````/p auto```` gets the plot of the player who has been absent for the longest time. (The plot gets reset)

[2016-04-19 13:37] manuelgu commented on #1059
@Block-Build

I did not say that, @boy0001 said that.

@VoxaDub

That wouldn't solve the problem at all.

[code]

If you are _"too dumb"_ to read the instructions on how to properly sell plots and then complaing why `/plot unclaim` was removed, that should not be taken in to account by the dev to re-add the command again because other people who actually know how to properly sell plots use it, alo

[2016-04-19 13:39] manuelgu commented on #1063
Can you confirm that they are empty even if you relog?

[2016-04-19 13:52] bambusbo opened #1065 "Plugin 'Plotsquared' does not exist"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
http://hastebin.com/ukipobirac plot debug
http://hastebin.com/xologeroxu server log
**Description of the problem:**
When i start my server or attempt to set the generator for my plotworld, it gives me this error, and none of the plots has protection, /plot info outputs: you are not in a plot

[2016-04-19 13:53] boy0001 commented on #1065
The plugin's name is `PlotSquared` not `Plotsquared` (case sensitive)

[2016-04-19 13:53] #1065 closed

[2016-04-19 13:57] Block-Build commented on #1063
yes

[2016-04-19 13:58] MattBDev commented on #1063
Please provide a '/plots debugpaste'

[2016-04-19 14:01] Block-Build commented on #1063
http://hastebin.com/odigicefij

[2016-04-19 14:06] Block-Build commented on #1063
@MattBDev @manuelgu This is only a testserver, so if you want you can look at it just tell me your mc Name for whitelist.

[2016-04-19 14:26] lucatunes opened #1066 "Plots are not in creative!"
Hi can someone help me! I don't have multiverse and my plots are not in creative! Everything else works fine! Please help!

[2016-04-19 14:36] manuelgu commented on #1066
Please provide a `/plot debugpaste`

[2016-04-19 14:45] lucatunes commented on #1066
# Welcome to this paste
# It is meant to provide us at IntellectualSites with better information about your problem

# We will start with some informational files
links.settings_yml: 'http://hastebin.com/gogevorava'
links.latest_log: 'http://hastebin.com/efoturiray'

# YAAAS! Now let us move on to the server info
version.server: '[1, 8, 8]'
online_mode: com.plotsquared.bukkit.uuid.DefaultUUIDWrapp

[2016-04-19 14:47] manuelgu commented on #1066
You can just post the hastebin link that you have in your chat ;)

You also have a world called `<world>` which may cause issues.
Which world is the one you are not getting set to creative mode? Can you confirm that it is detected as a plotworld? (Run /plot claim on a plot or something)

[2016-04-19 14:53] lucatunes commented on #1066
Yes it works
Do I need to type a command or something? Other players have used it but they are using them as survival plots

[2016-04-19 14:53] lucatunes commented on #1066
but I need them creative

[2016-04-19 14:54] lucatunes commented on #1066
If youd like to come on my server and experiment I can op you and give you console

[2016-04-19 15:10] manuelgu commented on #1066
You better don't do that to random players on the internet, ever, at all.

What is the world you are having the issue in called?

[2016-04-19 15:13] MattBDev commented on #1066
You're using an outdated version of plotsquared

[2016-04-19 15:17] lucatunes commented on #1066
really?

[2016-04-19 15:17] lucatunes commented on #1066
whats the link for the new one

[2016-04-19 15:19] EvilOlaf commented on #1066
https://www.spigotmc.org/resources/plotsquared.1177/

[2016-04-19 15:21] lucatunes commented on #1066
thank you :D does the world delete when you un install the plugin

[2016-04-19 15:23] manuelgu commented on #1066
No. You have to delete the world folder from your root directory and also the part in the PlotSquared settings.yml

[2016-04-19 15:23] lucatunes commented on #1066
cool thanks

[2016-04-19 17:28] JugadorNinja commented on #1061
thanks!

[2016-04-19 18:44] #1066 closed

[2016-04-19 18:45] MattBDev commented on #1064
The grammar is too poor to understand what you are asking. Mind repeating?

[2016-04-19 18:46] MattBDev commented on #1060
you can use the explosion flag and set it to false.

[2016-04-19 18:46] #1060 closed

[2016-04-19 18:48] MattBDev commented on #1058
@Vinc0682 The updater broke between 3.3.0 and 3.3.2 due to a formatting error in the code. It is always best to check on the plugins webpage every so often.

[2016-04-19 18:48] #1058 closed

[2016-04-19 19:14] boy0001 commented on #1064
No, this currently isn't possible.

[2016-04-19 19:34] Block-Build commented on #1064
@MattBDev I revised my text.
Okay

[2016-04-19 21:46] diecode opened #1067 "PlotSquared is not loading plots' ratings"
I am using the latest PlotSquared ( Updated from an older version ) and the plugin is not loading the plots' ratings.

I am using Spigot 1.9.2 and MySQL

[2016-04-19 23:04] MattBDev commented on #1067
Please follow the issue template. You provided very little to no details to help solve this issue. Please reply with a '/plots debugpaste' link.

[2016-04-20 03:03] TNTUP commented on #1052
Fixed.

[2016-04-20 03:03] #1052 closed

[2016-04-20 09:42] diecode commented on #1067
Sorry for this. The link: http://hastebin.com/exirulolig

[2016-04-20 10:53] Block-Build opened #1068 "Double entry at Wiki"
"plots.inbox.modify.public"

https://github.com/IntellectualSites/PlotSquared/wiki/plots.permpack.basicinbox

[2016-04-20 11:02] Block-Build opened #1069 "Teleport to reported Plots"
Is there a command for admins to get teleported to reported Plots?

- [X] Made sure there aren't duplicates of this report

[2016-04-20 11:11] Block-Build commented on #1068
And

"plots.inbox.read.report"

https://github.com/IntellectualSites/PlotSquared/wiki/plots.permpack.basicinbox

[2016-04-20 15:50] MattBDev commented on #1068
fixed

[2016-04-20 15:50] #1068 closed

[2016-04-20 15:53] MattBDev commented on #1069
I noticed you are making a lot of issues on here. This section should be used mainly for bug reports. If you have questions, you should join our IRC channel which can be found on the README file.

[2016-04-20 16:20] manuelgu commented on #1068
https://github.com/IntellectualSites/PlotSquared/blob/master/Core/src/main/java/com/intellectualcrafters/plot/commands/GenerateDocs.java

[2016-04-20 17:34] Block-Build commented on #1069
@MattBDev it look's like a question but basicly is's a feature request. I write it as question because i'm not 100% sure if this funktion is already in use.
Because i can't find anything about a report command at this place:
https://github.com/IntellectualSites/PlotSquared/wiki/Commands

But on the other hand i see this permission "plots.inbox.write.report"
So there must be some commends...

So ..

[2016-04-20 17:48] manuelgu commented on #1069
You can report plots via "/plot comment x;y report <Your report message>"
These reports can be reviewed using "/plot inbox report"

[2016-04-20 17:52] manuelgu opened #1070 "Unable to delete inbox "report""
# Bug report

**Description of the problem:**
Deleting comments in "public" and "owner" works fine, when deleting in "report" it tells me that it has worked fine, but it still appears when I run `/plot inbox report`

**How to replicate**:
- `/plot comment report asdf` some plot
- `/plot inbox report` List the report
- `/plot inbox report delete 1` Delete it
- `/plot inbox report` Still see it in t

[2016-04-20 19:13] Block-Build commented on #1069
Okay thanks.

Can you please add an admin command to teleport to reported plots?

[2016-04-21 19:46] wilsondc15 opened #1072 "Feature Request - Block Interactions"
A way for permissions to add per block interactions on plots. Like how plots.admin.interact.other
 works but for specific blocks like plots.admin.interact.other.7

[2016-04-23 00:07] Suhhh opened #1073 "I have a question"
[Picture of what I want](http://i.imgur.com/foOKlKg.png?1)
Notice how there's the same tree on every plot, like it replicates the same blocks. How do you do that? Like I know how to change the block type for each layer, but I would like to know how to replicate terrain on every plot.

[2016-04-23 01:19] QuantumMS opened #1074 "Plot Generator Help"
When I do this command 'mv create plot normal -g PlotSquared:gap=7,size=80' it always make the road size to 4 not 7?

[2016-04-23 01:37] manuelgu commented on #1073
https://github.com/IntellectualSites/PlotSquared/wiki/Usage:-Schematic-on-claim

[2016-04-23 03:20] #1073 closed

[2016-04-23 03:49] OrlandoLaCrue opened #1075 "How to use /plot chat? (not a bug)"
I want to know how to use the /plot chat, when I do /plot chat all it says is "plot chat on" I see no change in username or plugin. I have searched around the web and found nothing. Anyway thanks!

[2016-04-23 03:57] MattBDev commented on #1075
Plot chat allows you to have a chat that is only visible to people in your plot. If you turn it back off then any message you send will be sent in the global chat.

[2016-04-23 03:57] #1075 closed

[2016-04-23 17:48] Suhhh commented on #1073
I think you misunderstood me. I meant like every plot, and not having to claim each plot individually and paste it. I would like it to be generated on each plot, could you walk me through it?

[2016-04-23 18:19] Maxetto opened #1076 "/plot (clear|delete) ignores configured borders"
**Debug paste link**:
http://hastebin.com/udafoseheg

**Description of the problem:**
When you clear a Plot with /plot clear or /plot delete, Plot borders of other plots are sandstone slabs (44:1), completely ignoring config options.
This doesn't happen to the plot you're clearing/deleting.

**How to replicate**:
- Set up a different block for borders in the Config
- (Might be needed) Set up a dif

[2016-04-23 19:16] boy0001 commented on #1073
https://github.com/IntellectualSites/PlotSquared/wiki/Installation#optional-generate-a-world-with-a-schematic-already-in-the-plot

[2016-04-23 21:47] manuelgu commented on #1076
I'm not sure if I understood you correctly, but I think that this is intended behavior. '/plot clear' only clears blocks within the borders and not the border itself.

[2016-04-23 22:19] Maxetto commented on #1076
No, it does regenerate the North and the West part of the plots. It might be related to custom Road Schematics, however before version 3.4.X, I didn't have problems with clearing/deleting.

[2016-04-23 23:20] AidanFogarty opened #1077 "Player Crash on /p claim"
**Description of the problem:**
The plugin seems to set up perfectly fine, I can load up a world with all the correct configs. However, when a user does /p claim, this causes the user to be kicked from the server. When the user tries to log back in it instantly kicks them off again. The only way they can log back onto the server is if I delete the playerdata but this still doesnt fix the plot clai

[2016-04-24 01:11] alchemistmatt commented on #1021
We have also experienced this bug.  Trees would only grow (with bonemeal) on one of 6 merged plots. As soon as we unmerged the plots, bonemeal worked fine on all of the trees that previously refused to grow.  I'll make an effort to disable plugins to see if I can narrow down the conflicting one.

[2016-04-24 02:07] alchemistmatt commented on #1021
Test completed as requested.  I removed every single plugin except for PlotSquared and I still could not grow a tree with bonemeal on the second half of a merged plot.  The first half works; the second half doesn't (and with more than 2 plots, only the first plot works).  Please repeat your test with that in mind.  We're running Spigot 1.9.2, built from commit [5a403651d2b](https://hub.spigotmc.or

[2016-04-24 03:03] VoxaDub opened #1078 "Question: Add ability to have /plot unclaim command, but make toggleable in config?"
Is it possible that the /plot unclaim command could be added as an alias or just a toggle in the config, but set to disabled by default? Or just be an alias for /plot setowner none with a set permission? Since I cant just give someone the permission to do "/plot setowner none"

[2016-04-24 03:42] alchemistmatt commented on #1021
I would be willing to try a dev build of PlotSquared, but none of the .jar files at http://ci.athion.net/job/PlotSquared/127/ has a plugin.yml file (or the same structure as the 3.3.3 .jar file) so I'm not sure where/how to get a dev version.

[2016-04-24 07:04] EvilOlaf opened #1079 "plot home needs plots.visit since update from 3.2.26"
I updated from 3.2.26 to 3.3.3 yesterday and since then `plot home ` or `p h` in short does not work for my players anymore as they are `lacking of permission node plots.visit`.
The permission system or the permissions itself have not been changed so I assume this is an issue with P^2 since >3.2.26.

[2016-04-24 14:44] JackDn commented on #1078
Please stop creating new issues about this.

[2016-04-24 15:08] Block-Build opened #1080 "/list does not work for me"
If i type /p list:

![unbenannt4](https://cloud.githubusercontent.com/assets/13054823/14768285/79dc9aac-0a3e-11e6-9a8c-1fe6e9d40a1a.png)

The number is everytime different.

- [X] Made sure there aren't duplicates of this report [(Use Search)](https://github.com/IntellectualSites/PlotSquared/issues)
- [X] Made sure you're using an updated version of PlotSquared
- [X] Made sure the bug/error isn't

[2016-04-24 16:22] boy0001 commented on #1080
Please attach a `/plot debugpaste`

[2016-04-24 16:40] boy0001 commented on #1079
The home command was removed, use visit instead. It has home as an alias so the command syntax will be the same.

[2016-04-24 16:40] #1079 closed

[2016-04-24 16:43] EvilOlaf commented on #1079
Hm I do not really understand why this happened, because visit would allow player to teleport themselves to other plots rather than their own as well (?)....guess I missed the discussion about that ^^

Thanks anyways.

[2016-04-24 16:45] boy0001 commented on #1079
It has permissions for the type of plot you can visit. Only real difference is supports a lot more syntax than just home.
plots.visit.unowned
plots.home or plots.visit.owned
plots.visit.shared
plots.visit.other

[2016-04-24 16:48] EvilOlaf commented on #1079
I see. Yeah that's pretty cool. Also that you left an alias for `plots.home` permission to fit when `plots.visit` is added to make `plot home` work again.

Thanks again.

[2016-04-24 17:33] manuelgu commented on #1077
Please attach a `/plot debugpaste`

[2016-04-24 19:01] Block-Build commented on #1080
I remove the most plugins and test again. The same result.
http://hastebin.com/muheqayiba

[2016-04-24 19:03] manuelgu commented on #1080
You're using an outdated version of PlotSquared. Please update.

[2016-04-25 03:51] VoxaDub commented on #1078
No, I can create a suggestion. No reason I shouldnt be able to.

[2016-04-25 04:05] JackDn commented on #1078
You can't create 3 issues about the same suggestion which has already been denied.

[2016-04-25 04:06] VoxaDub commented on #1078
I created one issue?

[2016-04-25 04:06] VoxaDub commented on #1078
This is an entirely different suggestion.

[2016-04-25 04:15] JackDn commented on #1078
#1059

[2016-04-25 04:40] VoxaDub commented on #1078
Thats one, learn to count. And its not the same issue, learn to read as well.

[2016-04-25 17:25] MattBDev commented on #1078
Duplicate of #1059

[2016-04-25 17:25] #1078 closed

[2016-04-25 17:26] MattBDev commented on #1080
Fixed already. Don't report issues on outdated versions without testing on the current version.

[2016-04-25 17:26] #1080 closed

[2016-04-25 17:27] MattBDev commented on #1077
@AidanFogarty If you do not provide a `/plot debugpaste` within 24 hours, this issue will be closed for not properly reporting the issue.

[2016-04-25 19:48] Block-Build commented on #1080
oh sorry, I download it a few days ago... don't know why it is not the latest...

[2016-04-25 23:09] boy0001 commented on #1074
If there's existing configuration it'll use that. Check your multiverse worlds.yml, the bukkit.yml and the PlotSquared settings.yml

[2016-04-25 23:11] boy0001 commented on #1072
There's the flag system for that.

You can set default flags in the settings.yml:
https://github.com/IntellectualSites/PlotSquared/wiki/Usage:-Plot-flags#default-flags

[2016-04-25 23:11] #1072 closed

[2016-04-25 23:51] boy0001 opened #1081 "Use flag error"
note to self
d8849f718cef808a6492f9b23c6d9be9b0f151c1
[code]

[2016-04-26 12:46] #801 closed

[2016-04-26 12:47] MattBDev commented on #974
Works as Intended

[2016-04-26 12:47] #974 closed

[2016-04-27 16:01] codewarrior0 commented on #1017
Schematics exported from MCEdit 2.0 can be imported in MCEdit 1.0.

The file structure is only changed in a backward-compatible way. Extra data is added to allow importing and exporting between Minecraft Forge worlds with different sets of block ID mappings, and the data can be safely ignored when dealing with only Vanilla blocks or importing into the same Forge world where it was exported.

[2016-04-28 18:06] wilsondc15 commented on #1072
I know there is, but I do not want every player to have the same block permissions. How can I do that?

[2016-04-28 21:16] Blue-Guy opened #1082 "Glitchy merging"
# Bug report template (Follow this template unless you are making a feature request.)

**Debug paste link**:
http://hastebin.com/umakaquvuq

**Description of the problem:**
On merge, roads are "glitchy", and leaves seem "leak" outside the plot

**How to replicate**:
1. Create augmented plot world
2. Merge four plots to create megaplot

![image](https://cloud.githubusercontent.com/assets/16492168/1

[2016-04-29 04:06] itismejoey opened #1083 "Database Switch Question"
Not really a bug per se, just asking a question that got passed over on Spigot. Any help would be appreciated!

[2016-04-29 08:26] Kengxxiao opened #1084 "Player can build in other's plot."
I have a problem in using the plugin.

When I went to the plotworld yesterday , I see a player building in other's plot and can't destory the block they build. After that , I have a try. Then I get a surprising result. When I don't have a plot , I can do nothing in the plotworld . But if I have a plot, i can build in everyone's plot , and can't destory the block I build.

Is it a bug , or the prob

[2016-04-29 08:51] #1084 closed

[2016-04-29 14:21] MattBDev commented on #1083
https://github.com/IntellectualSites/PlotSquared/wiki/Commands#database

[2016-04-29 14:21] #1083 closed

[2016-04-29 15:04] MattBDev commented on #1059
I am against bringing back the command.

[2016-04-29 16:04] EvilOlaf commented on #1050
Confirmed. Looking forward for a release.

[2016-04-30 17:48] alchemistmatt opened #1085 "Trees do not grow with bonemeal in merged plots"
There is no debug information shown at console

**Debugpaste Link**
http://hastebin.com/tolizateru

**Description of the problem**

As previously reported in #1021 after merging two (or more) plots together, we cannot grow trees using bonemeal.  The previous issue was closed with tag Cannot Replicate, partially because the OP had not performed a test with other plugins removed.  I have removed eve

[2016-05-01 12:54] Goldentoenail opened #1086 "Server crashes"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
None, not sure on how to make one. I have included the server crash log.
**Description of the problem:**
Occasionally when a player clears a plot the server crashes
**How to replicate**:
Not sure.
Make sure you've completed the following steps (put an X between of brackets):
- [] Include `/p

[2016-05-01 12:56] EvilOlaf commented on #1086
Simple enter `/plot debugpaste` and then copy the output link here ;)

[2016-05-01 21:06] boy0001 commented on #1086
Update spigot, you're running a bugged version. Using WorldEdit to `//regen` the plot would have also resulted in a crash.

[2016-05-01 21:06] #1086 closed

[2016-05-01 22:36] Goldentoenail commented on #1086
Thanks, I have just updated spigot to the very latest build and hope that does solve the problem.

I have noticed that there are lot of lighting glitches on many of the plots from the world generator.
This was a totally new generated world when 1.9 came out.

I was thinking about using FAWE to fix some of them.

[2016-05-02 12:50] QUIQUELHAPPY opened #1087 "SCHEMATIC NOT PASTING!"
[code]

I can paste the schematic with /p paste islandv3, but island is not pasting when a player claim a plot
Here is my config:

[code]

[2016-05-02 13:02] #1087 closed

[2016-05-02 13:02] QUIQUELHAPPY commented on #1087
https://github.com/IntellectualSites/PlotSquared/issues/1035

[2016-05-02 16:49] EvilOlaf opened #1089 "Question: Use lighter in plots"
Since updating from 3.2.26 to 3.3.3 a lighter can no longer be used to put fire on a block.
No console or ingame output when trying to ignite something.

How to reenable this?

[2016-05-02 17:56] CullanP commented on #1082
To add on to this bug report, trees also break when you merge plots. You can't grow trees on the plot you merged with.

[2016-05-02 17:57] CullanP commented on #1085
Confirmed on our server as well.

[2016-05-03 02:16] maxlehot1234 opened #1090 "World export to a new server"
I have nothing about this, but if someone can explain to me how I can export plots from a world to put it on another server I have it could be very nice :)

I export the plots world and plotsquared folder with sqlite  .db but all plots have unknown owner...

[2016-05-03 03:41] cervinakuy opened #1091 "WorldEdit can bypass Plot restrictions."
Here is the link to the Debug paste:
http://hastebin.com/behitoxexe

Description of the problem:

Hello,

So recently, I received a message from a player on my server saying another player was hacking. Thinking to myself that we have hack protection, and overall our server is hack-free, I logged onto the server expecting the worst. When I arrived, a Donor hadn't used any clients, but found a looph

[2016-05-03 12:48] QUIQUELHAPPY opened #1092 "Players Can Open Other Players Chests"
Players Can Open Other Players Chests!
I don't know if it has something in common with this: https://github.com/IntellectualSites/PlotSquared/issues/1081

Is there any way to fix this for the moment?

[2016-05-03 12:49] QUIQUELHAPPY commented on #1077
is your natural mob spawn enabled? This may be the case, on some spigot versions entity interact generate client crashes. Please, update your spigot or provide more info

[2016-05-03 14:04] diecode commented on #1067
I am debugging this, because the ratings is very important to me.

Atm: The **hasRatings()** function in Plot Object returning false, bacause **base.settings.ratings == null**

[2016-05-03 15:26] MattBDev commented on #1067
If you can make a fix and submit a PR I will review and merge it. I just don't have time at the moment to fix it myself.

[2016-05-03 15:26] #1077 closed

[2016-05-03 15:27] MattBDev commented on #1092
Make sure you are using version 3.3.3 and this shouldn't be a problem. Reply back and I will reopen this if it is still an issue.

[2016-05-03 15:27] #1092 closed

[2016-05-03 22:49] DragonbornCommunity opened #1093 "Task #161000 Exception - Plot road schematic fails"
Staktrace Pastebin: http://pastebin.com/R6sLbcj1

When performing /plot createroadschematic, this error comes up in console and then if /plot debugroadregen is performed, the road will not be generated.

I built all around the plot before performing both commands.

DebugPaste: http://hastebin.com/xavunimacu

I do not think that another plugin is interfering with PlotSquared.

[2016-05-03 23:15] wasder opened #1094 "Does not load schematic on claiming"
**http://pastebin.com/x6y7up90**

**How to replicate**:
`plot auto` or `plot claim` causes the error.

Make sure you've completed the following steps (put an X between of brackets):
- [x] Include `/plot debugpaste` http://hastebin.com/yavedoridi
- [x] Made sure there aren't duplicates of this report [(Use Search)](https://github.com/IntellectualSites/PlotSquared/issues)
- [x] Made sure you're usin

[2016-05-04 03:32] maxlehot1234 commented on #1090
Any help please?

[2016-05-04 15:34] MattBDev commented on #1090
GitHub is not a place to expect immediate help. If you need immediate help you should use our IRC channel.
This issue is the same problem that causes #781

[2016-05-04 15:34] #1090 closed

[2016-05-04 15:59] manuelgu commented on #1094
PlotSquared failed to create the schematic in `/var/www/schematics`.
Make sure the user that your Minecraft Server is running under has write permissions for this directory

[2016-05-04 21:10] diecode commented on #1067
When I change the `public HashMap<UUID, Integer> ratings;` in the **PlotSettings** class to `public HashMap<UUID, Integer> ratings = new HashMap<>();`then the problem solved.

[2016-05-04 21:38] boy0001 commented on #1094
Change the schematic directory to "schematics", unless you specifically need it set to somewhere else.

[2016-05-04 21:38] #1094 closed

[2016-05-04 22:37] diecode commented on #1067
#1095

[2016-05-04 22:41] diecode opened #1096 "Custom flag with new flag system"
This is not a bug, just a developer question.

Can I create custom flags with new Flag system? If yes, can you write to me a short example please? Unfortunately I must modify my plugin which hooking PlotSquared, because Flag system changed.

Thanks.

[2016-05-04 23:13] MattBDev commented on #1096
I'll get back to you on this when I have time to write a detailed explanation.

[2016-05-05 14:31] EvilOlaf commented on #1044
Just noticed this exception at `p unlink n`
[code]
with version 3.3.3

As you stated this should be fixed already it is purely FYI.

[2016-05-05 15:59] MattBDev commented on #1044
@EvilOlaf I'm not gonna re-open but I did make a note of this. ;)

[2016-05-05 16:47] EvilOlaf commented on #1044
That's all I wanted :P

[2016-05-06 02:05] maxlehot1234 opened #1097 "BIG BUG flags/permissions"
Hi, I just want to know Why I need to downgrade to my old plotsquared version, because the new version simply allow ALL players to open other players chests in their plots, build in plots without access to it...

[2016-05-06 02:08] MattBDev commented on #1097
Please learn how to file a report properly _(USE THE TEMPLATE WE PROVIDE)_ or please use the IRC if you have a question like this.

[2016-05-06 02:08] #1097 closed

[2016-05-06 02:33] boy0001 commented on #1089
block-ignition flag

[2016-05-06 02:33] #1089 closed

[2016-05-06 08:03] PhanaticD opened #1098 "NPE on startup"
was testing the very latest version and noticed this error on startup

http://pastebin.com/xnCZc32m

[2016-05-06 08:14] PhanaticD commented on #1098
This also should be relevant
[04:02:08] [Server thread/INFO]: Plot 2 | JoshsPlot had an invalid flag. A fix has been attempted.
[04:02:08] [Server thread/INFO]: analysis:11´102´0´19092´298´11´100´0´18901´295

[2016-05-06 08:38] EvilOlaf commented on #1089
Thank you.

[2016-05-06 12:16] EvilOlaf commented on #1089
When setting `block-ignition` to true will everyone be allowed to ignite a block on every plot?
It would be useful if the plot owner or added/trusted can use this only.

[2016-05-06 16:17] MattBDev commented on #1098
Is this with commit 1535c5e?
Just want to double check so I can fix it ASAP

[2016-05-06 17:02] QUIQUELHAPPY opened #1099 "SCHEMATIC NOT PASTING!"
[code]

[2016-05-06 17:03] #1099 closed

[2016-05-07 21:20] diecode commented on #1096
Great, I am waiting then :)

[2016-05-08 03:18] MattBDev commented on #1096
I should have time at the end of this week to write up on it.

[2016-05-08 13:02] ravand1990 commented on #708
So what about this issue now? Any realistic chance that it's going to be fixed?

[2016-05-08 14:10] manuelgu commented on #708
https://github.com/IntellectualSites/PlotSquared/issues/1014

[2016-05-09 08:49] zombachu opened #1100 "I'm going insane trying to figure this out..."
~~I'm 99.9999% certain that this is me just being an idiot again, but maybe you guys can help me find the issue. (also, there's a mini bug report here as well)~~ It was actually a mixture of bugs and me being an idiot.

# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**: http://hastebin.com/adesowiciv

**Description of the problem:**
There's

[2016-05-09 09:17] zombachu commented on #1100
Figured out what was causing the second problem of this, but I'll make separate and new issues so that it would be easier to read.

[2016-05-09 09:17] #1100 closed

[2016-05-09 09:20] zombachu opened #1101 "item-drop issue #1: Inverted boolean values"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
http://hastebin.com/adesowiciv

**Description of the problem:**
When item-drop is set to false it allows items, and when it's set to true it prevents them.

**How to replicate**:
Do /p flag set item-drop true. It should prevent you from dropping items. Having an unset flag or it being set to

[2016-05-09 09:25] zombachu opened #1102 "item-drop issue #2: Inverted check for added players"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
http://hastebin.com/adesowiciv

**Description of the problem:**
Players who are added to a plot when drops are turned off (See #1101 for the bug on that) will be prevented from dropping items, while those that are not added will be allowed to drop items.

**How to replicate**:
Go to your own

[2016-05-09 09:29] zombachu opened #1103 "item-drop issue #3: Admin bypassing does not work"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:
http://hastebin.com/adesowiciv

**Description of the problem:**
Even if you have admin bypass permissions, you will still be prevented from dropping items on a plot with the flag set (See #1101 for a bug on that)

**How to replicate**:
Give yourself the "admin interact other" permission then

[2016-05-09 22:09] chamunks commented on #781
What was done to remedy this and will it fix the current problems or simply stop them from happing further.

[2016-05-09 22:13] MattBDev commented on #781
@chamunks nothing done yet. but I believe I have identified the issue.

[2016-05-10 02:56] lucasdidur opened #1104 "Add option to load uuid from Bukkit (using DefaultUUIDWrapper)"
On my server, I created a plugin that allows original player has his own uuid, using the forwardIP of bungeecord.

I would ask to add an option to not use UUIDWrapper options, but the standard DefaultUUIDWrapper, which is not possible to activate at plugin configuration.

[2016-05-10 17:22] MattBDev opened #1105 "Spigot NMS support for 1_9_R2"
I haven't tested anything but I would have to guess the plugin's NMS code doesn't work for 1.9.4 . It would be appreciated if someone could confirm if everything works fine or if there is a reflection error.

[2016-05-10 17:42] #1098 closed

[2016-05-10 18:14] MattBDev commented on #1101
Should be fixed in the new flag implementation.

[2016-05-10 18:14] #1101 closed

[2016-05-10 18:20] MattBDev commented on #1102
Would the intended behavior be to prevent everyone from dropping items when it is set to false?

[2016-05-10 18:22] MattBDev commented on #1103
This permission does not apply to this flag.

[2016-05-10 18:22] #1103 closed

[2016-05-10 20:35] zombachu commented on #1102
Up to you whether to let added players bypass the flag or not, but right now it *only* affects people who are added (having no effect on not-added, probably the intended target, players)

[2016-05-10 22:50] MattBDev commented on #1102
It should probably affect everyone.

[2016-05-11 00:20] AshourAziz commented on #1105
http://pastebin.com/1Xm1M7fa

[2016-05-11 12:43] ChoukiMe opened #1106 "Bug "Could not pass event [...]""
Hi !
When I install PlotSquared, I type : /pl and the name "PlotSquared" is in green (enabled). But, when I type : / plot world : this error message appear : "An internal error occured while attempting to perform this command".
I look for a similary error in yours issues messages but I don't fin.
Please help me.
I'm in Spigot 1.9.
(Sorry for my english, I'm french.)

**- Steps :**
- [] Include `/p

[2016-05-11 14:26] frizzbee30 commented on #1105
yup, it's not happy  :)

[2016-05-11 15:00] MattBDev commented on #1106
Rerun BuildTools. Your server is 157 versions out of date.

[2016-05-11 15:00] #1106 closed

[2016-05-12 12:11] ES-Vodoo commented on #1085
I have the same but if I merge 4 plots (2x2), I can use bonemeal on the 1 plot area (on 3 others not work).

[2016-05-12 20:46] AipaMC opened #1108 "UnsupportedOperationException"
Stacktrace: http://pastebin.com/dycpU9sv

Seems your code in PlotHandler is trying to modify an immutable set that Plot.getOwners() returns. I haven't encountered any problems (mainly because I just found this error spamming console).

I'm running on this commit (https://github.com/IntellectualSites/PlotSquared/commit/e63b436edd9c450dc522115e4128e2154dd7a1c1), however nothing seems to have changed

[2016-05-12 21:27] ES-Vodoo opened #1109 "Banner and flower pod bypassing place permissions"
**Debug paste link**:
http://hastebin.com/holegatixu

**Description of the problem:**
Banner and flower pod can be placed on someone's plot (without permission to plot).

**How to replicate**:
Remove all privileges (op, permissions etc.) and try to place banner/flower pod on the someone's plot.

Make sure you've completed the following steps (put an X between of brackets):
- [] Include `/plot debu

[2016-05-12 22:00] #1108 closed

[2016-05-12 22:25] MattBDev commented on #1109
I can't replicate this issue. Since you are using the dev builds, make sure you stay up to date with them.

[2016-05-12 22:25] #1109 closed

[2016-05-12 22:25] MattBDev commented on #1105
Fixed in 3.3.4 branch.

[2016-05-12 22:25] #1105 closed

[2016-05-13 04:46] Pangamma opened #1110 "Feature Request: Implement "java.util.logging.Logger""
Please consider switching to "java.util.logging.Logger" so that other plugins can add handlers to help debug the code. I've been trying to get the plugins to make use of the default Java loggers as it makes it much easier to troubleshoot and debug issues later. I've included a pretty simple utility class here that can help replace certain PS functions.
`L.severe(exeptionHere)`

[code]

[2016-05-13 04:48] Pangamma commented on #1110
Actually, if I was a contributor I could just create a new branch for this, then submit a pull request.

[2016-05-13 05:06] Pangamma commented on #781
Would it make sense to store last known usernames in the database on the player_meta table? That way it would be easy to do lookups by username, or partial username.
SELECT * FROM player_meta WHERE `username` LIKE 'Panga%' ORDER BY len(`username`) ASC LIMIT 1

Then, when the players log in next time, if they have the same UUID but different username, you'd just update the username field in the DB.

[2016-05-13 07:03] manuelgu commented on #1110
You can also fork the repository, creat a new branch, implement the feature and then pull request it.

[2016-05-13 09:32] #866 closed

[2016-05-13 17:13] Pangamma opened #1111 "NPE /Plots Unmerge North"
**Debug paste link**:
http://hastebin.com/suqaxonuyu

https://github.com/IntellectualSites/PlotSquared/blob/master/Core/src/main/java/com/intellectualcrafters/plot/commands/Unlink.java#L46

**Description of the problem:**
Null pointer exception when you do /plot unmerge north
**How to replicate**:
Null pointer exception when you do /plot unmerge north

13.05 19:07:31 [Server] INFO [19:07:31 INFO]:

[2016-05-13 17:39] RyuZockt opened #1113 "Plot claim issue"
Problem: player cant calim plots --> [P2] You cant claim more Plots!
but the player have the permissions:
- plots.use
-plots.plot.1
-plots.permback.basic
-plots.claim
-plots.auto

Need help

[2016-05-13 18:03] manuelgu commented on #1113
This limits the max plots of a player to 1´.

[2016-05-13 18:04] RyuZockt commented on #1113
But a player cant claim 1 plot! he canot claim any plots

[2016-05-13 18:13] manuelgu commented on #1113
What does `/plot list <playername>` give you?
Please provide a `/plot debugpaste` (as already requested in issue template)

[2016-05-13 18:32] RyuZockt commented on #1113
[P2] Found no plots with your search query

http://hastebin.com/ejugeyarar

[2016-05-13 19:57] manuelgu commented on #1113
Could you also hastebin your permissions file? Redact usernames if needed.

[2016-05-13 22:23] EmpireEddy opened #1114 "Players can break any block"
Players of any rank/group can break any block including roads, unclaimed plots and plots claimed by other players.

**How to replicate**:
Any player can break any block period.

P.S. We switched from plotme to plotsquared

[2016-05-13 22:47] manuelgu commented on #1114
Sounds like your permissions aren't setup correctly.

Please provide a `/plot debugpaste` and your permissions file.

[2016-05-13 23:58] EmpireEddy commented on #1114
[permissions.txt](https://github.com/IntellectualSites/PlotSquared/files/264240/permissions.txt)
http://hastebin.com/famokuheda

[2016-05-14 04:54] boy0001 commented on #1114
In the settings.yml, change:
max_plots: -1
to (default value) 127

[2016-05-14 04:57] boy0001 commented on #1113
In the settings.yml, change:
max_plots: -1
to (default value) 127

[2016-05-14 04:57] #1113 closed

[2016-05-14 05:01] boy0001 commented on #1114
Remove PlotMe, you still have it installed.

PlotSquared also caches permissions. If you derank yourself (in the above file all three players would have the admin bypass perm), you then need to relog for it to take effect.

Let us know if you resolve the problem.

[2016-05-14 05:21] EmpireEddy commented on #1114
Well i deleted plotme completely but i really dont understand you boy0001 can you give a more detailed explanation of what i have to do?

[2016-05-14 07:43] AshourAziz commented on #1114
It 100% is an issue on 1.9.4 servers, no error in logs.

[2016-05-14 07:50] AshourAziz commented on #1114
[00:48:02] [Server thread/INFO]: BukkitPlotGenerator does not fully support: null[m

[2016-05-14 08:14] Permanently opened #1115 "/plot claim and /plot auto not working"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**: http://hastebin.com/oxojeyuhel
I'm currently running Spigot 1.9.

I tried using /plot move once (which didn't work) and now whenever I type /plot auto or /plot claim, this happens:
[09:57:09] [Server thread/INFO]: Permanently issued server command: /plot claim
[09:57:09] [Server thread/WARN]

[2016-05-14 08:16] AshourAziz commented on #1114
Stripped it down to 1.9.4 + ProtocolLib + Multiverse + ProtocolSupport and it's still occurring. here is a p2 dump

http://hastebin.com/paligoduji

[2016-05-14 08:19] AshourAziz commented on #1114
Narrowed it down, It seems to be simply allowing people to access CHESTS/Furnaces and such. Building/Breaking blocks doesn't seem to work.

I'm assuming something was changed with Chests in 1.9.4?

[2016-05-14 08:22] AshourAziz opened #1116 "1.9.4 Chest/Furnace access allowed"
http://hastebin.com/paligoduji

Anyone can access anyone's plots Chests/Furnaces, bypassing protection.
They cannot Mine/Build on plots they should not have access too though

1.9.4 + plotsquared + someoneelses plot + open there chests

I'm assuming something was changed with Chests in 1.9.4?

[2016-05-14 08:27] AshourAziz commented on #1116
I've also tried a few random builds that where older, without any change.

[2016-05-14 08:37] boy0001 commented on #1116
http://ci.xephi.fr/job/PlotSquared/115/changes is probably the latest stable build.

[2016-05-14 08:38] boy0001 commented on #1115
Update PlotSquared
Latest stable dev build:
http://ci.xephi.fr/job/PlotSquared/115/changes
Releases:
https://github.com/IntellectualSites/PlotSquared/releases

[2016-05-14 08:38] #1115 closed

[2016-05-14 08:51] AshourAziz commented on #1116
The bug is not present in that build.

[2016-05-14 09:37] ryantheleach opened #1117 "NPE at com.plotsquared.sponge.SpongeMain.setGenerator(SpongeMain.java:337)"
http://pastie.org/private/vqlf1esrfeqpz3jxjs4pa

Someone on #Sponge was getting a NPE, I checked the source and found the problem.

https://github.com/IntellectualSites/PlotSquared/blob/master/Sponge/src/main/java/com/plotsquared/sponge/SpongeMain.java#L337

world is being referenced outside of the null checking if block, but considering the else above it should be throwing an exception, I have no

[2016-05-14 09:41] manuelgu commented on #1114
Which part did you not understand?
Remove the PlotMe jar completely and follow the steps to disable plotme conversion (settings.yml -> plotme-convert set to false). Restart the server and see if the problem still occurs.

[2016-05-14 09:41] Mickimoo2 commented on #1117
(I was the person)

It seems that a temporary fix is to force the plotsquared geneneration under the world specific config:

/config/sponge/worlds/overworld/world
[code]

My findings also found that it occurred ONLY when being used on the overworld, all the other worlds that were created by plotsquared contained that generation modifier

[2016-05-14 09:44] manuelgu commented on #1111
Directional _unmerging_ is not supported. It expects a boolean whether to re-create a road or just leave it untouched.

See wiki https://github.com/IntellectualSites/PlotSquared/wiki/Commands#unlink

[2016-05-14 09:51] manuelgu commented on #1093
What is the content of your `plugins/PlotSquared/schematics/`?
Are you sure that the error comes up when doing `/plot createroadschematic` ?

****

FFR: It tries to access the `GEN_ROAD_SCHEMATIC/worldname/plot.schematic` [here](https://github.com/IntellectualSites/PlotSquared/blob/master/Core/src/main/java/com/intellectualcrafters/plot/generator/HybridPlotWorld.java#L180)

[2016-05-14 09:52] manuelgu commented on #1091
Try updating your PlotSquared.

Latest stable dev build:
http://ci.xephi.fr/job/PlotSquared/115/changes
Releases:
https://github.com/IntellectualSites/PlotSquared/releases

[2016-05-14 10:00] manuelgu commented on #1063
There is no `Plot#setSign( )` in the [merge method](https://github.com/IntellectualSites/PlotSquared/blob/master/Core/src/main/java/com/intellectualcrafters/plot/object/Plot.java#L2065) which is probably the reason.

When unliking a plot it only creates a sign when you provide a "true" in the command, so `/plot unlink true`. Source [here](https://github.com/IntellectualSites/PlotSquared/blob/maste

[2016-05-14 10:23] manuelgu commented on #1051
Cannot reproduce.
Try latest stable dev build:
http://ci.xephi.fr/job/PlotSquared/115/

[2016-05-14 12:22] Permanently opened #1119 "Dev Build #115 failing to work"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**: Can not provide, all the commands do not work.

**Description of the problem:**
So I was told to use a dev build since /plot claim and /plot auto didn't work for me, like in my last report. I was linked to dev build #115 (I'm using Spigot 1.9.0) and when loaded, I get these errors:
`[14:13:3

[2016-05-14 13:40] boy0001 commented on #1119
Can you do a `/plot debugpaste`?

[2016-05-14 13:40] boy0001 commented on #1119
*Can you provide a startup log?

[2016-05-14 13:42] Permanently commented on #1119
This is what I'm seeing on startup:
`[15:41:34] [Server thread/INFO]: [PlotSquared] Enabling PlotSquared v3.4.0-SNAPSHOT
[15:41:34] [Server thread/INFO]: $1PlotSquared is now enabled
[15:41:34] [Server thread/INFO]: $3[$1P2$3] $2&6Debug Mode Enabled (Default). Edit the config to turn this off.
[15:41:34] [Server thread/INFO]: [P2]  - Adding flag: greeting
[15:41:34] [Server thread/INFO]: [P2]  - A

[2016-05-14 13:49] boy0001 commented on #1119
Try updating spigot.

You are using a very early version of spigot 1.9. LingeringPotionSplashEvent was introduced in spigot 1.9, but you appear to be using a version which doesn't have this yet, which is causing PlotSquared to fail to load.

[2016-05-14 14:22] Permanently commented on #1119
It's working, thanks! :+1:

[2016-05-14 14:22] #1119 closed

[2016-05-14 15:54] #1116 closed

[2016-05-14 21:01] #1114 closed

[2016-05-14 21:32] MattBDev commented on #1110
The issue is that the Logger style doesn't match when using Sponge. If we do want to switch we may need to use JCL-over-SLF4J if we use a Logger. it just doesn't seem worth it.

[2016-05-14 21:35] MattBDev commented on #1111
Also, I would like to point out that the code link you provided does not match with line 46 of 3.3.3. Learn how GitHub commits and versioning works.

[2016-05-15 17:33] Permanently opened #1120 "Players can't place blocks in certain areas"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**: http://hastebin.com/nusunigijo

**Description of the problem:**
So what's happening is that players have plots which in certain parts of it can't be edited (they can break blocks, but not place). It happens to random plots, and sometimes relogging fixes the issue. Other times, restarting the

[2016-05-15 18:12] EvilOlaf commented on #299
+1

[2016-05-15 18:21] manuelgu commented on #1120
Since you're using a development version, which exact build is that?

[2016-05-15 18:29] manuelgu commented on #1120
HoloPlots is not supported for the current version of PlotSquared and is throwing a lot of exceptions, please remove the jar.

Disable plotme convert in your settings.yml

[2016-05-15 18:43] Permanently commented on #1120
I am using dev build #115.

[2016-05-15 19:23] manuelgu commented on #1120
In case  the problem is still occuring,

is it per-area or per-player, so can all players not build in certain areas or are there places where some people can build and some not?

Are the players that cannot build there owner of the plot, are they added or trusted? Are the admins bypassing the protection?

Are the plots marked as done?

Does it happen around 0,0 or is it spread on different plots

[2016-05-15 19:26] manuelgu commented on #1085
Confirmed also for Mushroom -> Huge Mushroom.

[2016-05-15 20:03] Permanently commented on #1120
I'm not sure but as op I can build there whilst they can't. I'm going to take a guess and say it's per-player, but I'll see if it's just because I'm op or if it actually is per-player.
Yes, I've only had these problems with the owners of the plot. No, they are not marked as done.

Yep, they are near 0;0, but spawn protection is on 0.

[2016-05-15 20:11] manuelgu commented on #1120
Can you confirm that it has only happend to plot owners and never to added or trusted players?

Maybe you can get two normal players into trying to build at the specific location? Would make things a lot easier :)

Also make sure that no other plots are conflicting with the areas, see if any plugins related to protection/areas/limiting building etc could be conflicting with PlotSquared.

[2016-05-15 20:19] manuelgu commented on #1120
Looking at the code there are five cases in which block placing gets cancelled

1. [See](https://github.com/IntellectualSites/PlotSquared/blob/master/Bukkit/src/main/java/com/plotsquared/bukkit/listeners/PlayerEvents.java#L2315) When the block is above MAX_BUILD_HEIGHT or below MIN_BUILD_HEIGHT
2. [See](https://github.com/IntellectualSites/PlotSquared/blob/master/Bukkit/src/main/java/com/plotsquar

[2016-05-15 22:30] manuelgu commented on #587
Implemented with recent versions, see `commands.yml`

[2016-05-15 22:34] manuelgu commented on #422
Essentials uses the "lastlocation" value stored in the player file generated by Essentials to determine the /back location.

https://github.com/essentials/Essentials/blob/2.x/Essentials/src/com/earth2me/essentials/IUser.java#L38

[2016-05-16 02:05] #1085 closed

[2016-05-16 04:59] EmpireEddy commented on #1114
Fixed it thanks

[2016-05-16 20:06] MattBDev commented on #422
I am confused about this. Is the request asking for PlotSquared to override the /back command to teleport to the home location of the last plot they were on?

[2016-05-16 20:08] MattBDev commented on #1120
Super out of date dev version. Plus you are using a dev version.

[2016-05-16 20:09] MattBDev commented on #1110
No comments from others on this?

[2016-05-16 20:28] manuelgu commented on #1110
SLF4J is a great tool with many possibilities to hook into it, however I'm not sure if a project like this requires it.

[2016-05-16 20:30] manuelgu commented on #422
If I understood the OP correctly he wants PlotSquared to hook into the /back command so when you teleport to a plot you can go back to the recent location with /back.

[2016-05-17 03:56] MattBDev commented on #1110
Well unless we want to create our own Logger based JCL we would need to use that jar.

[2016-05-17 06:04] boy0001 commented on #1120
Check the `server.properties` -> `spawn-protection` is set to 0.
Any message is sent when they try to build?

[2016-05-17 06:06] boy0001 commented on #1110
Could use grep and get the lines starting with [P2].

[2016-05-17 06:27] Permanently commented on #1120
No message. Once again, they can break, but not place.

[2016-05-17 21:56] MattBDev commented on #1120
Try disabling plugins 1 by 1 to make sure PlotSquared is the issue.

[2016-05-17 21:56] #587 closed

[2016-05-18 01:52] #1067 closed

[2016-05-18 16:07] MattBDev commented on #1110
I have had a change of thought but I have a different approach. We can use our own logger and it can be moved into core. We shouldn't need a utility class.

[2016-05-18 16:11] MattBDev commented on #1117
I want to wait for Sponge 5.0 for this to due to World Generation stuff being changed. It seems like every update Sponge makes has a breaking change for World Generation and to fix it now and just have it break kinda sucks.

[2016-05-18 20:53] Mickimoo2 commented on #1117
Is it not possible to just add the line into the config?

[2016-05-19 08:09] #1117 closed

[2016-05-19 08:13] #1111 closed

[2016-05-19 08:14] boy0001 commented on #1081
Probably fixed.

[2016-05-19 08:14] #1081 closed

[2016-05-19 08:20] #1008 closed

[2016-05-19 08:25] boy0001 commented on #1076
This has been fixed in the dev builds.

[2016-05-19 08:25] #1076 closed

[2016-05-19 08:28] #1102 closed

[2016-05-19 08:53] #1037 closed

[2016-05-19 08:56] boy0001 commented on #822
Old issue, has been fixed

[2016-05-19 08:56] #822 closed

[2016-05-19 13:29] frizzbee30 opened #1122 "Non criticial errors with last few dev versions and 1.9.4 (UUID related)"
# Bug report template (Follow this template unless you are making a feature request.)
**Debug paste link**:

**Description of the problem:**

**How to replicate**:

Make sure you've completed the following steps (put an X between of brackets):
- [] Include `/plot debugpaste`
- [] Made sure there aren't duplicates of this report [(Use Search)](https://github.com/IntellectualSites/PlotSquared/issues

[2016-05-19 13:31] frizzbee30 commented on #1122
currently using #154

[2016-05-19 18:06] MattBDev commented on #1122
@frizzbee30 from which website? There is no official dev-build download site and it is important to so we know which commit you are running.

[2016-05-19 18:08] MattBDev commented on #1096
Currently not implemented but will be ready for v3.4.0

[2016-05-19 18:23] boy0001 commented on #1122
I would guess http://ci.athion.net/job/PlotSquared/ since the build numbers seem to match the timeframe.

[2016-05-19 18:41] frizzbee30 commented on #1122
It is :)

[2016-05-19 22:28] kunxian888 opened #1123 "Non-op player can place boats&carts on public roads (BUG report)"
# Bug report.
**Debug paste link**:
http://hastebin.com/qadebogeru

**Description of the problem:**
player with only
plots.permpack.basic
plots.permpack.basicinbox
plots.plot.1
plots.set.flag.pvp.*
plots.use plots.visit.other
permission was able to place boats and minecarts on public roads (they cant destroy nor ride it)

Make sure you've completed the following steps (put an X between of brackets

[2016-05-20 22:06] Quicksteve opened #1124 "Plot Download Maximum Size not configurable"
Using the latest version from Spigot (3.3.3), I can't download plots larger than 512x512 using the /plot download command. As this is not configurable but instead hardcoded I can't download plots in my bigplots world.

I'm not quite sure why this value is hardcoded (technical limitations with schematics?) but I would love to see this issue get resolved by making it configurable in the config.

[2016-05-21 00:38] #1059 closed

[2016-05-21 00:40] MattBDev commented on #1104
@lucasdidur just changing the setting to allow online uuid's for plotsquared should do this already?

[2016-05-21 00:41] MattBDev commented on #1096
@diecode it would be awesome if you showed me the code you currently have for a custom flag, that way I can try to test out the new system and make sure it works.

[2016-05-21 00:41] MattBDev commented on #1120
@Permanently I am going to assume your problem is fixed since you have not replied.

[2016-05-21 02:35] lucasdidur commented on #1104
But in this mode, the plugin does not get the uuid using the mojang API? I need to use the player.getUniqueId() method of bukkit.

[2016-05-21 04:07] MattBDev commented on #1104
The DefaultUUIDWrapper (for the Bukkit Module) uses the Bukkit API to handle UUID stuff. Bungeecord by default has its own way of forwading IP's and UUID's by default. PlotSquared should have no issue with it and no extra steps. If you want to override the UUIDWrapper implementation, you can do so by setting the implementation variable to a different object.
Having OfflineMode in the settings.yml

[2016-05-21 04:07] #1104 closed

[2016-05-21 06:28] boy0001 commented on #1124
The command needs to be optimized since there's some performance issues with larger plots. Try downloading as a world file `/plot download world`

[2016-05-21 06:54] boy0001 commented on #1096
https://gist.github.com/MattBDev/78746f19f0613f3151c0526de6c98d74

[2016-05-21 15:11] #1124 closed

[2016-05-21 15:15] boy0001 commented on #1122
Error doesn't look to be related to any recent changes. It's likely from a corrupt player.dat file.

[2016-05-21 15:16] #1122 closed

[2016-05-21 15:24] boy0001 commented on #1110
added

[2016-05-21 15:24] #1110 closed

[2016-05-21 15:42] MattBDev commented on #1120
assuming this issue is fixed

[2016-05-21 15:42] #1120 closed

[2016-05-21 15:44] MattBDev commented on #973
Is this still an issue @boy0001 @maxlehot1234

[2016-05-21 15:51] #1051 closed

[2016-05-21 18:17] Danielh90 opened #1125 "Remove titles and put it in chat instead."
Hello I would like to remove my title with the owned (Player) and put it in chat instead is that possible?